[2021-06-16 11:41] rbo opened #1 "Configure prometheus alert to to github issue"
For example:
 * <https://github.com/m-lab/alertmanager-github-receiver>
 * <https://github.com/pfnet-research/alertmanager-to-github>

[2021-06-16 15:50] api-for-stormshift opened #2 "FoobarIsBroken"
Alertmanager URL: http://localhost:9093

  * firing

    Labels:

    - thing = value

    Annotations:

    - hint = how to fix foobar

TODO: add graph url from annotations.

[2021-06-16 15:51] rbo commented on #2
Test - closed

[2021-06-16 15:51] #2 closed

[2021-06-16 15:55] api-for-stormshift opened #3 "FoobarIsBroken"
Alertmanager URL: http://localhost:9093

  * firing

    Labels:

    - thing = value

    Annotations:

    - hint = how to fix foobar

TODO: add graph url from annotations.

[2021-06-17 06:28] rbo commented on #1
Tested both:

### alertmanager-to-github
* [+] Unix like switches ( --long vs -long )
* [+] Better debug log
* [+] Nice formated issues:
    ![image](https://user-images.githubusercontent.com/36604/122343018-8cfcc180-cf45-11eb-86bc-7b73e00dbceb.png)
* [-] reopens issues if the same alert fire's again.
* [-] Not able to add a label instead closing a Issue of alert is resolved

### alertmanager-gith

[2021-06-17 08:46] rbo commented on #1
### alertmanager-github-receiver prepared:
 * Switch to UBI
 * Prepared k8s/openshift deployment

Container Image: quay.io/stormshift/alertmanager-github-receiver:master
GitHub Repo: https://github.com/stormshift/alertmanager-github-receiver

[2021-06-17 13:35] rbo commented on #1
Tried alertmanager-github-receiver, it create for every alert an new github issue and I hit the github rate limit:
[code]

[2021-06-17 15:25] DanielFroehlich opened #4 "move automation/doc into own repo"
robert and daniel agreed on name for new repo: "documentation"

[2021-06-18 12:53] rbo commented on #1
I have changed the `group_interval` & `repeat_interval` to very low limits, which might cause to hit the rate limit!

**Default values:**
[code]

Settings from operate first: https://github.com/operate-first/apps/blob/master/kfdefs/base/monitoring/alertmanager-config.yaml
Deployment from operate first: https://github.com/operate-first/apps/tree/master/alertreceiver

[2021-06-22 10:01] DanielFroehlich opened #5 "OCP3 Auth Issues"
After successful login and a couple of minutes usage, one gets logged out again out of OCP3

[2021-06-22 10:06] Javatar81 opened #6 "Install plan in openshift-operators requires manual update of all operators"
Although I just want to confirm installation of OpenShift Pipelines, I need to confirm all other operators in the same namespace:

- amq-online.1.7.0
- gpu-operator-certified.v1.5.2
- opendatahub-operator.v1.0.10
- redhat-openshift-pipelines.v1.4.1

[2021-06-22 10:33] rbo opened #7 "Onboarding cluster/ocp3"
- [x] Setup a Admin-Team
- [x] Adjust notfication workflow
- [x] Add label

[2021-06-22 10:33] rbo commented on #7
@DanielFroehlich who is responsible for cluster/ocp3? Please provide github account name.

[2021-06-22 11:00] DanielFroehlich commented on #7
@ortwinschneider, already invited and added to the team.

[2021-06-22 11:03] rbo commented on #7
Awesome, I adjusted the notification workflow.

[2021-06-22 11:03] #7 closed

[2021-06-22 11:16] Javatar81 opened #8 "OpenShift Pipelines does not work after reinstalling"
When navigating to the Pipelines section of the navigation:

Error Loading Cluster Tasks: conversion webhook for tekton.dev/v1alpha1, Kind=ClusterTask failed: Post "https://tekton-pipelines-webhook.openshift-pipelines.svc:443/?timeout=30s": dial tcp 10.129.0.21:8443: connect: connection refused

[2021-06-22 12:57] Javatar81 commented on #8
Removed CRD as described in the docs. Now I cannot even install the operator: https://console-openshift-console.apps.ocp4.stormshift.coe.muc.redhat.com/k8s/ns/openshift-operators/operators.coreos.com~v1alpha1~Subscription/openshift-pipelines-operator-rh/yaml

[2021-06-28 12:48] ortwinschneider commented on #5
The Authentication Cluster Operator, DNS and networking was degraded but I didn't find the actual reason... After restarting the cluster, everything is working now as expected

[2021-06-29 13:53] #5 closed

[2021-06-29 13:54] ortwinschneider commented on #5
Closing issue as everything is working...

[2021-07-08 11:38] DanielFroehlich opened #9 "Switch troubleshooting communication from gchat to github issues, to be able to track them better and collect/harvest the lessons learned."

[2021-07-09 08:19] rbo commented on #4
Worklog:
[code]

[2021-07-09 08:37] rbo commented on #4
@DanielFroehlich please verify the documentation repo: https://github.com/stormshift/documentation - from my point of view it looks good enough. Now we have to update the documentation.

[2021-07-09 09:10] rbo commented on #1
The `group_by` is important: https://github.com/operate-first/apps/blob/0ffc7519991f0507bceedc88046da1fba816c87b/cluster-scope/overlays/prod/moc/common/alertmanager-main-secret.yaml#L80

[2021-07-09 09:49] rbo opened #10 "Onboarding cluster/ocp5"
/cc @stefan-bergstein

[2021-07-09 09:52] rbo commented on #10
Created `cluster/ocp5-admin` group (parent group `cluster/all-admin`)

[2021-07-09 09:53] rbo commented on #10
Invited @stefan-bergstein to stormshift organisation.

[2021-07-09 10:01] rbo opened #11 "Onboarding cluster/rhacm"

[2021-07-09 10:13] mschindl opened #12 "Install KMS for OCS/ODF on OCP3 as service for other cluster"

[2021-07-09 11:03] mschindl commented on #12
OCP1 reserved and deployment finished

Next: documentation

[2021-07-09 11:08] rbo commented on #10
Labels created, GitHub workflow adjusted. Wait for @stefan-bergstein to accept the invite.

[2021-07-09 11:25] rbo commented on #11
- [x] Create Team.
- [x] Create label
- [x] Adjust notification.

[2021-07-09 11:25] #11 closed

[2021-07-09 11:46] rbo commented on #10
Added @stefan-bergstein to the cluster ocp5 admin group.

[2021-07-09 11:47] #10 closed

[2021-07-09 13:04] rbo opened #13 "Update RHACM Cluster from 4.6.21 to 4.7.x"

[2021-07-09 13:20] rbo commented on #13
No Objects in gChat.

Check update path on https://access.redhat.com/labs/ocpupgradegraph/update_path?channel=stable-4.6&arch=x86_64&is_show_hot_fix=false&current_ocp_version=4.6.21&target_ocp_version=4.7.19

Update from 4.6.21 to 4.6.36 to 4.7.19

[2021-07-09 13:31] rbo commented on #13
Update to 4.6.36 in progress

[2021-07-09 13:31] rbo commented on #4
Close looks fine.

[2021-07-09 13:31] #4 closed

[2021-07-09 13:32] rbo commented on #13
Update to 4.6.36 in progress

[2021-07-09 16:51] rbo commented on #13
Update to 4.7.19 in progress

[2021-07-09 17:04] rbo commented on #13
Update to 4.7.19 in progress

[2021-07-09 17:51] Javatar81 opened #14 "Update cluster OCP4 from 4.7.13 to 4.7.19"
Started at 9 Jul 2021, 15:22

[2021-07-09 17:52] Javatar81 commented on #14
Current state is:

- ClusterOperators 26 of 31 (84%)
- Condition: Progressing / Working towards 4.7.19: 520 of 669 done (77% complete), waiting on marketplace, node-tuning

[2021-07-09 18:02] rbo commented on #14
[code]

No co is in progress, strange...

[2021-07-09 18:06] Javatar81 commented on #14
[code]

https://console-openshift-console.apps.ocp4.stormshift.coe.muc.redhat.com/k8s/ns/openshift-oauth-apiserver/pods/apiserver-86ccf4d577-rm4mj/events

[2021-07-09 18:09] Javatar81 commented on #14
Aha marketplace operator has a problem. See events https://console-openshift-console.apps.ocp4.stormshift.coe.muc.redhat.com/k8s/ns/openshift-marketplace/events

[2021-07-09 19:00] rbo commented on #14
I don't know if this is related:
[code]

[2021-07-09 19:11] rbo commented on #14
[code]

[2021-07-09 19:22] rbo commented on #14
[code]

[2021-07-09 19:30] rbo commented on #14
[code]
Operator Logs:
[code]

[2021-07-09 19:37] rbo commented on #14
Deleted the daemonset and pods too:
[code]

[2021-07-09 19:59] rbo commented on #14
Fixed terminating namespace:

[code]

Namespace deleted, update still stucks.

[2021-07-09 20:06] rbo commented on #14
@Javatar81 I strongly suggest cleanup the installed operators, there a bunch with errors.

[2021-07-09 20:11] rbo commented on #14
Deinstall GPU Operator

[2021-07-09 20:32] rbo commented on #14
Approved a bunch of install plans, it looks like installation is in progress:
[code]

[2021-07-12 06:05] rbo commented on #1
Out Stormshift api account is locked by github. Support ticket created.

[2021-07-12 07:30] rbo commented on #14
Cluster successfully update to 4.7.19

[2021-07-12 07:31] rbo commented on #14
@Javatar81 from my point of view we can close the ticket?

[2021-07-12 07:35] Javatar81 commented on #14
Yes sure. Thanks a lot!!! What I do not understand is why cluster operators can be blocked by other "normal" operators.

[2021-07-12 07:43] rbo opened #15 "How to monitor missing approvals at install plans?"
The Update of cluster ocp4 stuck (#14) because some install plans was not approved.

[code]

[2021-07-12 07:44] #14 closed, assigned to rbo, Javatar81

[2021-07-12 07:45] rbo commented on #14
I guess it was not direct. The cluster operator marketplace/OLM stuck, because of some "workload operators" installed via OLM.

[2021-07-12 07:54] rbo opened #16 "Cleanup operators stuck in Pending or Replacing"
Related to the cluster update #14 I strongly recommend to cleanup the installed cluster operator there NOT Succeeded:

[code]

[2021-07-12 07:54] rbo commented on #16
/cc @Javatar81

[2021-07-12 08:11] rbo opened #17 "Add ocp4 cluster to rhacm"

[2021-07-12 08:19] rbo commented on #17
https://multicloud-console.apps.rhacm.stormshift.coe.muc.redhat.com/multicloud/clusters
![image](https://user-images.githubusercontent.com/36604/125253412-acdf9500-e2f9-11eb-9a8e-be78706f6906.png)

# Import an existing cluster

## Danger alert:Request failed
[code]

Strange,  stormshift-ocp4 is not available anymore:
[code]
Not I can create the config to import the cluster, strange...

[2021-07-12 08:22] DanielFroehlich commented on #17
Not that I can help with it, but are you aware of the playbook for
importing a cluster to RHACM?
https://github.com/stormshift/automation/blob/master/420_rhacm_importManagedCluster.yml

On Mon, Jul 12, 2021 at 10:19 AM Robert Bohne ***@***.***>
wrote:

--
Daniel Fröhlich - Principal Solution Architect Industry 4.0
E: ***@***.*** - M: +49 176 10 24 84 33 - TZ: CET / CST-7 / IST-4.5
/ UTC+1 / EST+6

[2021-07-12 08:22] rbo commented on #17
Import failed with:
[code]

CRDs:
[code]

**=> Delete all CRDs**

[2021-07-12 08:24] DanielFroehlich commented on #17
Cleanup script is here:
https://github.com/stormshift/automation/blob/master/rhacm/cleanup_rhacm_agent.sh

On Mon, Jul 12, 2021 at 10:22 AM Robert Bohne ***@***.***>
wrote:

--
Daniel Fröhlich - Principal Solution Architect Industry 4.0
E: ***@***.*** - M: +49 176 10 24 84 33 - TZ: CET / CST-7 / IST-4.5
/ UTC+1 / EST+6 / PST+9 - Availability
<https://calendar.google.com/calendar/embed?src=dfroehli

[2021-07-12 08:29] rbo commented on #17
Use the cleanup_rhacm_agent.sh above:
[code]

[2021-07-12 08:30] rbo commented on #17
Retry the import...
[code]

Looks not too bad....

[2021-07-12 08:33] rbo commented on #17
Added label `env=prod` to the cluster:
![image](https://user-images.githubusercontent.com/36604/125256306-9e46ad00-e2fc-11eb-819f-509fab6a398c.png)

Wait until more details are available...

[2021-07-12 08:35] rbo opened #18 "Cluster has overcommitted CPU resource requests for Pods and cannot tolerate node failure."
[code]

`CPU: 17.32 available of 24`

[2021-07-12 08:36] rbo opened #19 "Install OpenShift GitOps at rhacm cluster and connect argocd to rhacm"

[2021-07-12 08:37] rbo commented on #19
First we have to fix #18 and provide enough resources because: `CPU: 17.32 available of 24`

[2021-07-12 08:38] rbo commented on #18
[code]

[2021-07-12 08:40] rbo commented on #18
RHEV Looks good to add more CPUs:
![image](https://user-images.githubusercontent.com/36604/125257207-799f0500-e2fd-11eb-8647-97263a65adf6.png)

Memory is not an issue at the cluster: 45.89 GiB available of 93.62 GiB

[2021-07-12 08:41] rbo commented on #18
Change from one socket to two sockets.

[2021-07-12 08:42] rbo commented on #18
Replace all workers by created now once (scale up and scale down the machine set) .

At Scaledown it will always delete the oldest worker nodes.

[2021-07-12 08:45] rbo commented on #18
[code]
If the new node is available I will scale down to 3, wait if the old node is gone scale up to 4 and again...

I could also create 3 nodes at once and delete all 3 at once, but I don't want to reserve to many resources at RHEV.

[2021-07-12 08:47] rbo commented on #17
![image](https://user-images.githubusercontent.com/36604/125258366-912abd80-e2fe-11eb-939b-8c5486b04cc3.png)

Looks good, close.

[2021-07-12 08:47] #17 closed, assigned to rbo

[2021-07-12 08:50] rbo commented on #18
[code]

[2021-07-12 08:52] rbo commented on #18
[code]
Delete the newest worker 😱

[2021-07-12 08:53] rbo commented on #18
Let's try to drain an old node first... after the new one is available again...

[2021-07-12 08:56] stefan-bergstein opened #20 "OCP5: Image registry out of space. Pushing images is failing."

[2021-07-12 08:59] DanielFroehlich commented on #18
But why? CPU overcommitment is fine - did you observe an actual ressource bottleneck, i.e. slow RHACM? You are just moving the overcommitment from OCP down to RHEV, where we are already at ~300 overcommitment. This will lead to problems e.g. after power outages / cold reboots  of phys. servers.

[2021-07-12 09:01] rbo commented on #18
CPU bottleneck on OCP site,  I move the overcommitment now to RHEV  :-)

[2021-07-12 09:02] rbo commented on #18
[code]
Scale down deletes the drained node, perfect.

[2021-07-12 09:06] rbo commented on #20
Issue transferred into support repo.

[2021-07-12 09:08] stefan-bergstein commented on #20
`oc adm prune images --confirm --registry-url https://default-route-openshift-image-registry.apps.ocp5.stormshift.coe.muc.redhat.com` fixed it

[2021-07-12 09:08] rbo commented on #18
[code]

=> Use `--force` those pods are managed by operators.

[2021-07-12 09:13] rbo commented on #18
Scale down hit again the wrong machine... :-(
Deleted machine by hand:
[code]

[2021-07-12 09:19] rbo commented on #18
[code]

CPU: 29.32 available of 36

[2021-07-12 09:20] rbo commented on #18
Solved.

[2021-07-12 09:21] DanielFroehlich commented on #18
Marc did add the option to configure node sizes to the config - see e.g.
here:
https://github.com/stormshift/automation/blob/10d2a8dd92256fd5ff5e6bdb3c8b0ee7b4c40deb/cfg/ocp1.yml#L11
Please make sure you add this to rhacm.cfg, so the change is also reflected
in the automation.

On Mon, Jul 12, 2021 at 11:14 AM Robert Bohne ***@***.***>
wrote:

--
Daniel Fröhlich - Principal Solution Architect Indu

[2021-07-12 09:25] DanielFroehlich commented on #20
Hm, auto image pruning should haven been activated:
https://github.com/stormshift/automation/blob/10d2a8dd92256fd5ff5e6bdb3c8b0ee7b4c40deb/360_ocp4_postinstall.yml#L394
I suggest to check if this really happened to OCP5, and if the prune jobs
haven been running successfully. I suspect they failed, if so, we should
fix the root cause to avoid regular manually pruning.
HTH
   Daniel

On Mon, Jul 12,

[2021-07-12 09:29] rbo commented on #18
@DanielFroehlich Thanks good point, https://github.com/stormshift/automation/blob/master/cfg/rhacm.yml looks good rhacm cluster is an RHV IPI cluster.

[2021-07-12 09:38] rbo commented on #19
#18 fixed.

[2021-07-12 09:43] rbo commented on #19
Installed OpenShift GitOps.

<https://access.redhat.com/documentation/en-us/red_hat_advanced_cluster_management_for_kubernetes/2.2/html-single/manage_applications/index#configuring-argo>
[code]

![image](https://user-images.githubusercontent.com/36604/125266728-63e20d80-e306-11eb-90fc-f0d867cf1ba6.png)

[2021-07-12 11:15] DanielFroehlich commented on #18
but the new worker node CPU count is not reflected in rhacm.cfg,
because the new parameter is missing completely. Please see ocp1.yaml  as
an example and add the master/worker cpu count to the rhacm.yml, reflecting
your change.

On Mon, Jul 12, 2021 at 11:30 AM Robert Bohne ***@***.***>
wrote:

--
Daniel Fröhlich - Principal Solution Architect Industry 4.0
E: ***@***.*** - M: +49 176 10 24 84 33 -

[2021-07-12 11:23] rbo commented on #18
I don't get it, it was never documented in the rhacm.cfg.

[2021-07-12 11:28] DanielFroehlich commented on #18
Yep, because the vars were only recently added to the playbook, way after
rhacm cluster was deployed

On Mon, Jul 12, 2021, 13:23 Robert Bohne ***@***.***> wrote:

[2021-07-14 12:28] rbo commented on #1
Stormshift api account is NOT locked anymore.

[2021-08-04 11:31] Javatar81 opened #21 "Disk device /dev/nvme0n1 not responding, on host compute-2.ocp4.stormshift.coe.muc.redhat.com"

[2021-08-04 12:00] DanielFroehlich commented on #21
Did you try rebooting the node? This device is PCI paassthrough'ed using RHEV from the phys. host. (check "devices" section in RHEV to see it).

[2021-08-05 11:05] Javatar81 commented on #21
Problem resolved without any intervention from my side.

[2021-08-05 12:28] Javatar81 commented on #21
Problem occurred again....

[2021-08-05 14:22] DanielFroehlich commented on #21
as I said, try a reboot of the VM. if problem persists, you might need to
remove the disk, wipefs it and add it to OCS back again. in the OCS
troubleshooting guide, there is a procedure to replace a failed disk
documented.

On Thu, Aug 5, 2021 at 2:28 PM Benjamin ***@***.***> wrote:

--
Daniel Fröhlich - Principal Solution Architect Industry 4.0
E: ***@***.*** - M: +49 176 10 24 84 33 - TZ: CET /

[2021-08-05 15:15] Javatar81 commented on #21
Rebooted Compute Node 2.

[2021-08-05 15:56] rbo opened #22 "Update rhacm cluster to 4.8.3 & Update rhacm to 2.3.1"
- [x] Update rhacm cluster to 4.8.2
- [x] Update rhacm to 2.3.1 - 2.3.0 is broken!
- [x] Update rhacm cluster to 4.8.3

[2021-08-06 07:42] rbo commented on #22
Be carefull with ACM 2.3:

[2021-08-06 08:09] rbo commented on #22
There is no update path from 4.7.19 to 4.8.2 yet available (stable channel) : https://access.redhat.com/labs/ocpupgradegraph/update_path?channel=stable-4.7&arch=x86_64&is_show_hot_fix=false&current_ocp_version=4.7.19&target_ocp_version=4.8.2

![image](https://user-images.githubusercontent.com/36604/128479112-2a358766-28dc-48bf-8bb9-90629165ffb8.png)

[2021-08-06 08:10] rbo commented on #22
Update only via Fast channel available:
https://access.redhat.com/labs/ocpupgradegraph/update_path?channel=fast-4.7&arch=x86_64&is_show_hot_fix=false&current_ocp_version=4.7.19&target_ocp_version=4.8.2

![image](https://user-images.githubusercontent.com/36604/128478727-14158aea-d531-4e7b-a080-34d74128ed9f.png)

[2021-08-06 08:12] DanielFroehlich commented on #22
If there is no pressing need, I suggest to wait until update path is in
stable available, esp. for the RHACM cluster.

On Fri, Aug 6, 2021 at 10:10 AM Robert Bohne ***@***.***>
wrote:

--
Daniel Fröhlich - Principal Solution Architect Industry 4.0
E: ***@***.*** - M: +49 176 10 24 84 33 - TZ: CET / CST-7 / IST-4.5
/ UTC+1 / EST+6 / PST+9 - Availability
<https://calendar.google.com/calendar/embed?s

[2021-08-06 08:13] rbo commented on #22
Too late, the update from 4.7.19 to 4.7.21 is running...

[2021-08-06 08:15] rbo commented on #22
Stable-4.7 channel provides 4.7.21 so no big deal: https://console.redhat.com/openshift/releases

[2021-08-06 11:35] rbo commented on #22
4.7.21 is installed

[2021-08-08 13:52] rbo commented on #13
Update finished at Jul 9th.

[2021-08-08 13:52] #13 closed, assigned to rbo

[2021-08-08 13:57] #18 closed, assigned to nobody

[2021-08-08 13:57] rbo commented on #18
automation repo updated, closed.

[2021-08-08 14:00] rbo commented on #22
Channel stable-4.8 is not available via WebUI

[2021-08-08 14:10] rbo opened #23 "Switch operators (rhacm, openshift-gitops) from approval strategy automatic to manual"
Because of stability, it make sense to switch from approval strategy automatic to manual

[2021-08-08 14:10] rbo commented on #23
RHACM current 2.2.5 switched

[2021-08-08 14:10] rbo commented on #23
Red Hat OpenShift GitOps 1.2.0 switched

[2021-08-08 14:11] rbo commented on #23
Sealed Secrets Operator (Helm) 0.0.2 switched

[2021-08-08 14:13] rbo commented on #23
No more operators installed. Closed.

[2021-08-08 14:13] #23 closed, assigned to rbo

[2021-08-08 14:14] rbo commented on #22
Switch to fast-4.8 because want to test RHACM 2.3 GitOps integration.

[2021-08-08 14:15] rbo commented on #22
Update to OCP 4.8.2 work in progress

[2021-08-09 06:02] rbo commented on #22
4.8.2 Installation completed, switch back to stable-4.8 channel

[2021-08-09 07:08] rbo commented on #22
Wait for RHACM 2.3.1

[2021-08-10 18:54] MartinReinke opened #24 "OCP5 cluster dashboard unavailable"
tried to access console to check for OCPvirt demo but didn't got it.
Getting several errors like 504 gateway timeout and service is not available screen, or oauth error messages

[2021-08-12 07:31] rbo commented on #22
RHACM 2.3.1 is available, install plan wait for the approval. Ask in stormshift chat if ACM update is fine today.

[2021-08-12 07:34] rbo commented on #22
No objections, install plan approved.

[2021-08-12 07:47] rbo commented on #22
ACM 2.3.1 installed:
![image](https://user-images.githubusercontent.com/36604/129158255-65cef8c6-04f0-4263-8f20-909da72d222f.png)

But ACM webui says 2.5.5
![image](https://user-images.githubusercontent.com/36604/129158491-96f6af75-ef22-490b-ac5f-6c2f81f76c61.png)

[2021-08-12 07:51] rbo commented on #22
Ah update is still ongoing:

[code]

[2021-08-12 07:54] rbo commented on #22
Mh there are an some errors in the muliclusterhub-operator:
[code]

[2021-08-12 08:00] rbo commented on #22
[code]

[2021-08-12 09:48] rbo commented on #22
mh at a new ACM 2.3.1 installation the pod have the necessary labels:
[code]

[2021-08-12 09:57] rbo commented on #22
Delete `oc delete deployment/ocm-webhook ` to force the recreated by the operator. Now label is the deployment and pods.
[code]

[2021-08-12 09:59] rbo commented on #22
No more error messages in the operator log (multiclusterhub-operator).

[2021-08-12 10:02] rbo commented on #22
Next operator make problems:
[code]
=> Same problem, missing labels on the pods!

[2021-08-12 10:07] rbo commented on #22
checked all deployments with ocm-antiaffinity-selector on the fresh installed ACM:
[code]

Deleted all deployments on the update cluster:
[code]

To force recreate the deployments

[2021-08-12 10:11] rbo commented on #22
Next problem:
[code]

[2021-08-12 10:43] rbo commented on #22
## the root cause of the stuck ACM update:
[code]

Found terminitating redis pod, deleted statefullset and pvc...

[2021-08-12 11:17] rbo commented on #22
ACM 2.3.1 successfully installed.

[2021-08-12 11:18] rbo commented on #22
OCP 4.8.3 is available, update ocp to 4.8.3

[2021-08-12 12:24] rbo commented on #22
Update completed.

[2021-08-12 12:25] #22 closed, assigned to rbo

[2021-08-16 15:02] stefan-bergstein commented on #24
Cluster operators were not ready and did not recover:

[code]

Cluster design is not optimal, because it has only one "big" worker node.
Root cause is unclear.

Only restarting all nodes recovered the cluster.

[2021-08-16 15:02] #24 closed, assigned to nobody

[2021-08-26 11:01] rbo opened #25 "etcd problems etcdHighCommitDurations, etcdMemberCommunicationSlow...."
[code]

[2021-08-26 11:02] rbo commented on #25
/cc @stefan-bergstein

[2021-08-26 11:06] rbo commented on #25
[code]

[2021-08-26 11:08] rbo commented on #25
[code]

[2021-08-26 11:14] rbo commented on #25
[code]

=> Set mastersSchedulable: false

[2021-08-26 11:17] rbo commented on #25
[code]

[2021-08-26 14:40] stefan-bergstein commented on #25
[code]

```Cluster operator ingress is reporting a failure: Some ingresscontrollers are degraded: ingresscontroller "default" is degraded: DegradedConditions: One or more other status conditions indicate a degraded state: PodsScheduled=False (PodsNotScheduled: Some pods are not scheduled: Pod "router-default-7cdb957595-smkjg" cannot be scheduled: 0/4 nodes are available: 1 node(s) didn't have free

[2021-08-26 15:48] rbo commented on #25
Why you started an update?

[2021-08-27 09:40] DanielFroehlich opened #26 "AMQ Streams / Kafka Version chaos"
OCP4 Cluster Seems to have a lot of different Kafka Operator Version deployed, which causes issues to create new kafka clusters / makes it impossible to use the latest version.

Please be aware of the Version Warning from the Operator Install page:: "!!! IMPORTANT !!! This release supports only the API version v1beta2 and CRD version apiextensions.k8s.io/v1. If upgrading from AMQ Streams 1.7, migr

[2021-08-27 09:41] DanielFroehlich commented on #26
See the "cannot update / pending" issues:
![image](https://user-images.githubusercontent.com/18532443/131107449-9c3782ff-be24-45d9-b8eb-923e85ccf485.png)

[2021-09-15 13:18] stefantrimborn opened #27 "RHACM down / Worker-Nodes flapping or unreachable"
RHACM not available anymore. Checking rhacm Cluster and found out that worker-nodes are flapping and/or stuck in limbo. Checking RHV and figured out the reason: High CPU preassure.

[2021-09-15 13:19] stefantrimborn commented on #27
The cluster is in general under high CPU preassure. Nodew t4m6 was released by rebooting.
![image](https://user-images.githubusercontent.com/43135993/133440642-b57288ae-2211-4c18-ae3b-6c79fe28d0a0.png)

[2021-09-15 18:36] DanielFroehlich opened #28 "OCP3 high CPU consumption"
Cant log in to OCP3, just get a
"{"error":"server_error","error_description":"The authorization server encountered an unexpected condition that prevented it from fulfilling the request.","state":"a8196c45"}"  in the browser after login.

RHEV console shows high CPU consumption:
![image](https://user-images.githubusercontent.com/18532443/133490098-b1808ffa-4514-45c3-a677-a7a2abcd66ba.png)

[2021-09-15 19:00] DanielFroehlich opened #29 "OCP4 - pods with frequent restarts"
I see a lot of pods with >10.000 restarts, around codeready workspaces, knative eventing:
https://console-openshift-console.apps.ocp4.stormshift.coe.muc.redhat.com/k8s/all-namespaces/pods?orderBy=desc&sortBy=Restarts
This creates unnessary CPU load.
Check it out here:
https://console-openshift-console.apps.ocp4.stormshift.coe.muc.redhat.com/k8s/all-namespaces/pods?orderBy=desc&sortBy=Restarts
![im

[2021-09-17 09:01] DanielFroehlich commented on #28
@ortwinschneider , would you mind taking a look?

[2021-09-17 16:20] Javatar81 opened #30 "Update ocp4 from 4.7.19 to 4.7.23"

[2021-09-17 20:53] Javatar81 commented on #30
Update Successful

[2021-09-17 20:53] #30 closed, assigned to nobody

[2021-09-20 08:56] DanielFroehlich opened #31 "OCP4 - logging elastic is down"
![image](https://user-images.githubusercontent.com/18532443/133977814-043c0674-51ad-4799-a706-80ade8b345df.png)

[2021-09-20 08:57] DanielFroehlich commented on #29
@Javatar81 , would you mind taking a look and work with the owners to fix? Thx Daniel

[2021-09-20 15:19] sdcloudy commented on #28
rebooting environment at 17:15 CEST with wmarx

[2021-09-20 15:37] sdcloudy commented on #28
we have rebooted the compute and control nodes, however there seems to be no network connectivity and in rhv there are no errors showing up in the events.
link state is up, not sure how to troubleshoot further as we can't access the VM hosts console right now.

[2021-09-21 09:07] DanielFroehlich commented on #28
seems to work now. closing issue!

[2021-09-21 09:07] #28 closed, assigned to ortwinschneider

[2021-09-24 08:34] Javatar81 commented on #31
These are just jobs that failed because indexes were missing. Since we enabled log forwarding there is no data in app and infra log.

[2021-09-24 09:06] Javatar81 opened #32 "Update OCS 4.6 -> 4.7 on OCP4"

[2021-09-24 09:09] Javatar81 commented on #32
Changed subscription of OpenShift Container Storage to stable-4.7 channel.

[2021-09-24 09:58] Javatar81 commented on #32
Problem mit dem OCS Operator

**PodPocs-operator-56b84c5dff-zbr6c**
NamespaceNSopenshift-storage

[code]

[code]

[2021-09-24 10:29] Javatar81 commented on #32
Removed workload from compute-2. Solved problem.

[2021-09-24 10:32] Javatar81 commented on #32
Updated Local Storage Operator 4.6 -> 4.7

[2021-09-24 10:34] #32 closed, assigned to nobody

[2021-09-24 11:02] Javatar81 opened #33 "Update OCP4 4.7.23 -> 4.7.30"

[2021-09-24 12:46] #33 closed, assigned to nobody

[2021-09-24 12:47] Javatar81 opened #34 "Switch off audit logging"
Consumes too many resources

[2021-09-24 12:49] Javatar81 commented on #34
Removed object

[code]

[2021-09-24 12:54] Javatar81 commented on #34
Infra and app logging are up again

[2021-09-24 13:01] #34 closed, assigned to nobody

[2021-09-24 13:07] Javatar81 opened #35 "After Update to 4.7.30 - The API server is burning too much error budget"
Logs of Api Server pod

[code]

[2021-09-24 13:07] Javatar81 commented on #35
Happened after this update #33

[2021-09-24 13:23] Javatar81 commented on #35
Related Kubernetes 1.19x issue: https://github.com/kubernetes/kubernetes/issues/95334, however, we are on 1.20.x

[2021-09-24 13:29] Javatar81 commented on #35
ETCD Logs

[code]

[2021-09-24 13:56] #31 closed, assigned to Javatar81

[2021-09-24 13:56] Javatar81 commented on #29
Cleaned up

[2021-09-24 13:56] #29 closed, assigned to Javatar81

[2021-09-24 21:06] Javatar81 opened #36 "Update OCP4 4.7.30 -> 4.8.11"

[2021-09-24 21:06] #36 closed, assigned to nobody

[2021-09-24 21:12] Javatar81 opened #37 "OpenShift Pipelines has no ClusterTasks on OCP4"

[2021-09-24 21:13] Javatar81 commented on #37
Fixed by recreating config object

[2021-09-24 21:13] #37 closed, assigned to nobody

[2021-09-24 21:18] Javatar81 opened #38 "Trigger problems in several BuildConfigs"
Example: `error triggering Build for BuildConfig default/cakephp-mysql-example: Internal error occurred: build config default/cakephp-mysql-example has already instantiated a build for imageid image-registry.openshift-image-registry.svc:5000/openshift/php@sha256:bbb9469731881762ab999ff8871378fc2852a11d7e5ad897e142bddde77f7b96`

[2021-09-27 08:43] Javatar81 opened #39 "Update OCP4 4.8.11 -> 4.8.12"

[2021-09-27 08:47] Javatar81 commented on #39
Cluster operator operator-lifecycle-manager cannot be upgraded between minor versions: IncompatibleOperatorsInstalled: ClusterServiceVersions blocking cluster upgrade: manuela-visual-inspection/amqstreams.v1.7.3 is incompatible with OpenShift minor versions greater than 4.8

[2021-09-27 09:22] Javatar81 commented on #39
control-2.ocp4.stormshift.coe.muc.redhat.com cannot be shutdown via RHEV

[2021-09-27 09:47] DanielFroehlich commented on #39
then POWER OFF should do the trick

On Mon, Sep 27, 2021 at 11:22 AM Benjamin ***@***.***> wrote:

--
Daniel Fröhlich - Principal Solution Architect Industry 4.0
E: ***@***.*** - M: +49 176 10 24 84 33 - TZ: CET / CST-7 / IST-4.5
/ UTC+1 / EST+6 / PST+9 - Availability
<https://calendar.google.com/calendar/embed?src=dfroehli%40redhat.com&ctz=Europe%2FBerlin&mode=week>
Red Hat GmbH <https://de.redha

[2021-09-27 09:53] Javatar81 commented on #39
I needed to power off three times...but now it restarted and the blocked update ran through

[2021-09-27 09:53] #39 closed, assigned to nobody

[2021-09-27 11:06] Javatar81 opened #40 "ODF 4.7 -> 4.8 Update on OCP4"

[2021-09-27 11:24] Javatar81 commented on #40
Checked https://access.redhat.com/documentation/en-us/red_hat_openshift_container_storage/4.8/html-single/updating_openshift_container_storage/index#updating-openshift-container-storage-in-internal-mode_rhocs Both CRDs exist

[2021-09-27 11:24] Javatar81 commented on #40
Updated Local Storage Operator to 4.8

[2021-09-28 11:43] #40 closed, assigned to nobody

[2021-10-04 09:04] Javatar81 opened #41 "Fix OpenShift Curator Job Errors"
Address this issue:

![Screenshot 2021-10-04 at 11 08 32](https://user-images.githubusercontent.com/19833550/135824492-cfd15c56-d9c0-4dad-bd83-919d001c8f71.png)

[2021-10-04 09:06] Javatar81 commented on #41
Removed the following part in the ClusterLogging to get rid of the curator job:

[code]

[2021-10-05 12:16] Javatar81 commented on #41
Still jobs in error state, logs:

`========================
Index management delete process starting for infra

No indices to delete`

Is this really an error?

[2021-10-06 14:39] Javatar81 opened #42 "Control 0 has stale service rules in iptables"
SDN pod sdn-k4flb on node control-0.ocp4.stormshift.coe.muc.redhat.com has stale kubernetes service rules in iptables

[2021-10-06 16:17] Javatar81 commented on #42
The problem was cause by workload / too many serverless deployments. Restarted the overloaded control-0 node. Cluster seems to be stable. I close this because it is not an OCP issue.

[2021-10-06 16:17] #42 closed, assigned to nobody

[2021-10-08 13:07] Javatar81 opened #43 "Update OCP 4.8.12 -> 4.8.13 stuck due to Network Operator Problem"
Network Operator has still a problem: some configmaps didn't fully update with CA cert. data

[2021-10-08 19:24] rbo commented on #43
Logs of network operator pod:
[code]

But tekton pipelines is not installed anymore.

[code]
Deleted obsolete webhooks
[code]

[2021-10-08 19:25] rbo commented on #43
Network Operator is not degraded anymore.

[2021-10-08 19:26] rbo commented on #43
[code]

[2021-10-08 19:26] #43 closed, assigned to nobody

[2021-10-21 13:29] Javatar81 opened #44 "Update 4.8.13 -> 4.8.14"

[2021-10-21 13:30] Javatar81 commented on #44
amqstreams.v1.7.3 is incompatible with OpenShift minor versions

[2021-10-21 13:31] Javatar81 commented on #44
Stefan fixed it by

- https://access.redhat.com/documentation/en-us/red_hat_amq/2021.q2/html/deploying_and_upgrading_amq_streams_on_openshift/assembly-upgrade-str#assembly-upgrade-resources-str
- https://access.redhat.com/documentation/en-us/red_hat_amq/2021.q2/html/deploying_and_upgrading_amq_streams_on_openshift/assembly-upgrade-str#proc-upgrade-cli-tool-direct-str

And finally updated the opera

[2021-10-21 13:31] Javatar81 commented on #44
Update successful

[2021-10-21 13:31] #44 closed, assigned to nobody

[2021-10-22 08:51] stefan-bergstein opened #45 "OCP5 console is down // Cluster update since August running!"
https://console-openshift-console.apps.ocp5.stormshift.coe.muc.redhat.com/
application is not available

ssh into control-0 and 1 not possible

ssh into control-2 okay.

[code]

[2021-10-22 08:53] stefan-bergstein commented on #45
Next step: force reboot of control nodes via RHEV console :-(

[2021-10-22 09:03] stefan-bergstein commented on #45
status after force reboot of control plane. From control-1:
[code]

Let's wait a moment .... (it is recharge day anyhow :-)

[2021-10-22 10:57] stefan-bergstein commented on #45
control-0 still not ready: **Kubelet stopped posting node status**

[code]

[2021-10-25 07:17] rbo commented on #45
There was some CSR not approved for control-0,
[code]
Controle-0 is ready..

Wait some minutes to get the operators time to fix the cluster.

[2021-10-25 07:50] rbo commented on #45
Stopped virtual machines:
[code]

Because can  not drain node, it's only one bare metal node available. MCP worker is degraded.

[code]

[2021-10-25 07:54] rbo commented on #45
[code]

[2021-10-25 08:32] rbo commented on #45
Update successfully installed. All notes are up to date.

@stefan-bergstein from my point of view you can close this issue.

[2021-10-25 08:33] rbo commented on #45
[code]

[2021-10-25 13:58] DanielFroehlich opened #46 "cant login to ocp3 "authorization server encountered an unexpected condition""
Trying to log in to ocp3:
"The authorization server encountered an unexpected condition that prevented it from fulfilling the request"

control-2 is not ready:

[root@ocp3support ~]# oc get nodes
NAME                                           STATUS     ROLES           AGE    VERSION
compute-0.ocp3.stormshift.coe.muc.redhat.com   Ready      worker          290d   v1.20.0+7d0a2b2
compute-1.ocp3.sto

[2021-10-25 13:59] DanielFroehlich commented on #46
will reboot control plane

[2021-10-25 14:19] DanielFroehlich commented on #46
restart control-2 node which was not ready and delete all pods in openshift-console and openshift-authentication braught the console back.
However, control-2 is still not ready.

[2021-10-25 17:43] DanielFroehlich commented on #9
LGTM

[2021-10-25 17:54] DanielFroehlich commented on #46
[code]

looks like a cert issue ( [see here](https://access.redhat.com/solutions/5098491))
but there  is no CSR  currently pending:
[code]

And cert is valid:
[code]

@rbo Any tip for me to fix this ?

[2021-10-25 18:20] DanielFroehlich commented on #21
LGTM

[2021-10-25 18:20] #21 closed, assigned to nobody

[2021-10-25 18:22] DanielFroehlich commented on #45
LGTM

[2021-10-25 18:22] #45 closed, assigned to nobody

[2021-10-25 18:24] DanielFroehlich commented on #41
LGTM, closing

[2021-10-25 18:24] #41 closed, assigned to nobody

[2021-10-25 18:45] rbo commented on #46
The certificate looks good, is valid?

<details>
<summary>oc get nodes, co and api cert details</summary>

[code]

</details>

[2021-10-25 19:04] rbo commented on #46
[code]

[2021-10-25 19:33] rbo commented on #46
control-2 is ready.

### Worklog
##### On control-1

[code]
Transfer ` /tmp/recovery-kubeconfig` and ` /tmp/rec-etc-kubernetes-ca.crt` to controle-2

##### On control-2
[code]

Approve CSR of control-2

[2021-10-26 07:11] DanielFroehlich commented on #46
Thx for fixing, working now!

[2021-10-26 07:11] #46 closed, assigned to DanielFroehlich

[2021-10-26 07:12] DanielFroehlich opened #47 "ocp3 registry storage close to full"
The PersistentVolume claimed by registry-storage in Namespace openshift-image-registry is only 1.623% free.

Läuft der image prune job? Manuelles pruning durchführen?

[2021-10-28 08:18] DanielFroehlich opened #48 "ocp3 shown offline is rhacm, despite being online"
OCP3 Cluster is shown offline in RHACM
![image](https://user-images.githubusercontent.com/18532443/139215801-0a7b3816-8b56-434f-a17b-ed5287c54bf9.png)

But the cluster is alive and kicking.

[2021-11-05 13:26] Javatar81 opened #49 "Update OCP4 4.8.14->4.8.17"

[2021-11-05 18:21] #49 closed, assigned to nobody

[2021-11-05 19:16] rbo opened #50 "Add GPU to OCP4"
Please add a new node to Cluster OCP4 with a GPU. GPU is available on Storm2 with PCI Passthrough.

- [x] Create new node: gpu.ocp4.stormshift.coe.muc.redhat.com
   - [x] Added DNS A and PTR Records
   - [x] Added dhcp static ip config
   - [x] Create VM on storm2.coe.muc.redhat.com
   - [x] Attach NVidia GPU to VM
 - [x] Added node to OpensShift Cluster
 - [x] Install node feature discovery opera

[2021-11-06 19:49] rbo commented on #50
Adjusted

- `/etc/dhcp/dhcpd.conf`
- `/etc/named/10.16.172.in-addr.arpa.zone`
- `/etc/named/ocp4.stormshift.coe.muc.redhat.com.zone`

on ocp4support

![image](https://user-images.githubusercontent.com/36604/140622047-255ed5b5-314d-40c0-bdad-ae37abf32ed5.png)

[2021-11-06 19:53] rbo commented on #50
### Problem during NFD Operator installation:
[code]
OpenShift Version: 4.8.17
NFD Operator version: 4.8.0-202110262219

### Solution
https://access.redhat.com/solutions/6097251

- Uninstall NFD Operator
- Delete OLD CRD
[code]
- Install NFD Operator

SOLVED

[2021-11-06 20:07] rbo commented on #50
### Surprise Surprise, compute-0  already have a GPU...

![image](https://user-images.githubusercontent.com/36604/140622481-08b8d0d0-67eb-4b2b-a439-31a0627c3398.png)

[2021-11-06 20:10] rbo commented on #50
### Configure cluster wide entitlement

It looks there is an old entitlement available:
[code]
Applied new entitlement based on https://docs.nvidia.com/datacenter/cloud-native/openshift/cluster-entitlement.html#obtaining-an-entitlement-certificate

[2021-11-08 07:21] rbo opened #51 "Check image registry storage"
Because of:
[code]

[2021-11-08 07:37] rbo commented on #50
We have problems with the MachineConfig rollout of the entitlement.
[code]
Try to drain by hand:
[code]

Can not evict OCS/ODF storage pod....

[2021-11-08 08:54] rbo commented on #50
OCS/ODF looks not so good:
[code]
And the cluster is a overloaded:

[code]

[2021-11-08 09:14] rbo commented on #50
**Entitlement rolled out successfully.**

**NVIDIA Operator installed and configured successfully:**
[code]
https://docs.nvidia.com/datacenter/cloud-native/openshift/install-gpu-ocp.html#running-a-sample-gpu-application

[2021-11-08 10:05] #50 closed, assigned to rbo

[2021-11-08 10:07] rbo opened #52 "Setup infranodes & add more resources to ocp4"
Idea:
- Add two `appNN.ocp4...` nodes each with an GPU. (Remove node `gpu`, and move gpu from `compute-0`)
- Use compute-0, compute-1 and compute-2 as Infra nodes

Infra node documentation: https://access.redhat.com/solutions/5034771

[2021-11-08 10:40] DanielFroehlich commented on #52
why are we doing this? Current worker nodes have 16 cores / 128G RAM - thats plenty of ressources. We have to watch overall HW utilitsation,with other clusters coming, we are starting to hit limits.

[2021-11-08 10:45] rbo commented on #52
Nope its not:
[code]

We have not much workload on it and it's hard to update or change something because the cluster is busy with itself. (OCS, Logging,...)

Might be useful to join some clusters to have more resources available and fewer resources for the control plane. For example: join ocp5 & ocp4 because AI/ML & VM workload is more fun with OCS. Just an idea, we have to discuss in detail on a

[2021-11-30 15:18] Javatar81 opened #53 "OCP4 Network Problems"
We seem to have network problems with compute nodes

[code]

Leads to infinitely terminating pods on the nodes.

[2021-11-30 16:00] DanielFroehlich commented on #53
can you ping the nodes from the bastion host?

[2021-11-30 16:12] DanielFroehlich commented on #53
Storm3 hypervisor host is close to overload:
![image](https://user-images.githubusercontent.com/18532443/144084517-afd5f1c7-7456-4a2f-8680-5a43af8cefb9.png)

[2021-11-30 16:16] DanielFroehlich commented on #53
I am shutting down ocp1 cluster to free up some ressources on the hypervisor level

[2021-11-30 16:21] DanielFroehlich commented on #53
compute1+2 are in a strange state - I will initiate reboot them now

[2021-11-30 16:23] rbo commented on #53
Please be careful with the OCS.

[2021-11-30 16:30] DanielFroehlich commented on #53
compute0 looks good, so we should be fine. We probably lost quorum already, but I will reboot them sequentially, not parallel. Thanks for reminding me!

Somehing is running amok - can ssh into node from bastion, ping is working. gracefull shutdown is also not working. Last time I have seen this it was some elastic search stuff consuming all memory. RHEV shows cpu 40% mem 43%

[2021-11-30 17:07] DanielFroehlich commented on #53
We have an infra issue here. The worker nodes VMS have 16 cores, all nodes are pinned to storm3 phys host due to ocs. That host has 36 phys cores. So we are overcommited on RHEV AND OpenShift. Even in "idle" mode, each node is consuming around 10 cores, which brings us close to the total available. If somethings goes wild, we are in trouble and see an instable cluster

Options:
a: remove workload.

[2021-11-30 19:00] Javatar81 commented on #53
I would like to add _d_ as a fourth option: delete ocp3 and add the freed resources in the form of additional nodes to ocp4. Robert had this idea some weeks ago and I think we do not need two permanent clusters up and running. Wha do you think?

[2021-12-01 15:52] DanielFroehlich commented on #53
Hm, I think we have a couple of demo / use cases where we do want to have workload spread across several clusters. So we would need two more or less stable clusters in the long term.

[2021-12-02 09:11] manfredmuth commented on #48
Seems there are still weird problems with ocp3
For the last days ( no clue when it started ) login to ocp3 is not working.
Local admin login does not work  -> you are straight redirected to the login page without other notice
SSO login  -> you are straight redirected to the login page without other notice

[2021-12-03 13:30] DanielFroehlich opened #54 "OCP3 Version Update Blockers"
OCP3 is currently upgrading from V4.7 to V4.8. This warning popped up:
![image](https://user-images.githubusercontent.com/18532443/144610327-3f8f0fdc-44e0-4b41-aa95-09720c654322.png)

Please remove or upgrade the mentioned operators!

[2021-12-10 10:10] Javatar81 opened #55 "Update OCP4 4.8.17 -> 4.8.22"

[2021-12-10 14:04] Javatar81 commented on #55
Successful

[2021-12-10 14:04] #55 closed, assigned to nobody

[2021-12-20 09:57] DanielFroehlich opened #56 "Certificate Renewal"
Stormshift "Master Cert" for all envs, issued by Red Hat CA, expires Fri Mar 18 12:17:09 UTC 2022

Need to request a new one and replace in all envs.

[2022-01-03 09:02] DanielFroehlich commented on #48
ocp3 issues fixed in dec, not sure why rhacm did not pick it up again. I suspect some expired keys or certs, as the cluster was offline for quite some while.
I fixed the issue by detachting the cluster in RHACM, cleaning the ocp3 cluster (by executing rhacm/cleanup_rhacm_agent.sh from the automation scripts).
Then, I did re-import the ocp3 cluster by running
`ansible-playbook -i cfg/inventory.yml

[2022-01-03 09:02] #48 closed, assigned to DanielFroehlich

[2022-01-03 09:29] DanielFroehlich commented on #20
For whatever reasons, the pruner cron job got suspended:
[code]

I enabled it again (by editing the yaml and setting suspended=false).
Registry storage is now better

[2022-01-03 09:29] #20 closed, assigned to DanielFroehlich, stefan-bergstein

[2022-01-03 09:39] DanielFroehlich commented on #52
master are not schedulable, additional gpu worker node is up and running, I am closing this issue for now.

[2022-01-03 09:39] #52 closed, assigned to rbo, Javatar81

[2022-01-03 09:40] DanielFroehlich commented on #53
cluster seems to be stable currenlty, so I am closing this issue for now. Let re-start the discussion when needed.

[2022-01-03 09:40] #53 closed, assigned to nobody

[2022-01-03 09:47] DanielFroehlich commented on #51
registry storage is fine (16% used), using OCS storage, prune job is running. I see no isssues here, closing issue. Please re-open if I missed something.

[2022-01-03 09:47] #51 closed, assigned to nobody

[2022-01-03 09:49] DanielFroehlich commented on #47
pruner cronjob was somehow suspend. I did activate it again, storage is fine at 16%. Closing this issue

[2022-01-03 09:49] #47 closed, assigned to ortwinschneider

[2022-01-03 09:52] DanielFroehlich commented on #35
Cluster is meanwhile on V4.8.x, "too much error budget" alert currently not visibile. closing this issue for now

[2022-01-03 09:52] #35 closed, assigned to nobody

[2022-01-03 09:53] DanielFroehlich commented on #27
RHACM is currently stable, closing this as stale issue.

[2022-01-03 09:53] #27 closed, assigned to nobody

[2022-01-03 09:55] DanielFroehlich commented on #12
ODF removed from OCP3 to avoid overall overload.
If ODF as service for other clusters is needed, please use the ODF from OCP4.

[2022-01-03 09:55] #12 closed

[2022-01-03 10:00] DanielFroehlich commented on #38
please dont use the "default" namespace

[2022-01-03 10:00] #38 closed, assigned to nobody

[2022-01-03 10:05] DanielFroehlich opened #57 "OCP5 needs an update"
Currently is on V4.6.x which is EOL and has only EUS support.

[2022-01-03 10:39] DanielFroehlich commented on #26
Kafka version migration executed as documented in
https://access.redhat.com/solutions/6273981
Could be that I accidentally deleted resource in ns bobbycar and manuela-visual-inspection
@ortwinschneider @stefan-bergstein please check!

[2022-01-03 10:39] #26 closed, assigned to nobody

[2022-01-03 10:59] DanielFroehlich commented on #16
fixed by either making updates a sucess (e.g. stuck amqstreams operator due to version update needing manual intervention), re-starting the update, or (last resort): deleting stuck operator. (openshift-workspaces:kubernetes-imagepuller-operator.v0.1.0)

[2022-01-03 10:59] #16 closed, assigned to nobody

[2022-01-03 11:04] DanielFroehlich commented on #1
I like the idea, but I am also afraid that we get swamped by issues. Can we get a Label "AutoGenerated", so we can easily filter and delete them?

And:
What is missing to set this up, e.g. in OCP4 to test and lear about?

[2022-01-03 11:15] DanielFroehlich commented on #25
problem currently not visible, closing as stale issue

[2022-01-03 11:15] #25 closed, assigned to nobody

[2022-01-03 11:16] DanielFroehlich commented on #8
closing as stale issue

[2022-01-03 11:16] #8 closed

[2022-01-03 11:17] DanielFroehlich commented on #6
closing as stale issue, as nobody took care of it for ~6 months. Also, not sure if this is a stormshift issue or a general OCP OLM topic

[2022-01-03 11:17] #6 closed

[2022-01-03 11:20] DanielFroehlich commented on #19
GitOps is installed in RHACM, closing this issue

[2022-01-03 11:20] #19 closed, assigned to nobody

[2022-01-03 11:45] DanielFroehlich opened #58 "Update RHACM from 2.3.x to 2.4.x"

[2022-01-03 12:57] DanielFroehlich opened #59 "RHAM worker nodes memory overcomit"
RHACM worker nodes have 16 GB RAM and are heavily memory overcommited:
[code]
That leads to issues during cluster upgrade (hang during reboots, nodes not ready).
Solution: Bump from 16GB to 48GB memory

[2022-01-03 14:53] rbo commented on #58
https://multicloud-console.apps.... - updated to 2.4.1

[2022-01-03 14:53] #58 closed, assigned to DanielFroehlich

[2022-01-03 14:59] rbo commented on #59
Looks good

[code]

[2022-01-03 15:08] rbo opened #60 "Update rhacm cluster from 4.8.24 to 4.9.11"

[2022-01-03 15:10] DanielFroehlich commented on #59
actually, 32GB will be enough. scaling down a bit....

[2022-01-03 15:10] rbo commented on #60
Can not update because:
[code]

[2022-01-03 15:29] rbo commented on #60
Run:
[code]

[2022-01-03 15:30] DanielFroehlich commented on #59
... done, we go with 32GB until this is not enough. Closing...

[2022-01-03 15:30] #59 closed, assigned to DanielFroehlich

[2022-01-03 15:35] DanielFroehlich commented on #60
Please make sure RHACM V2.4 is fully supported against OCP 4.9

[2022-01-03 15:37] rbo commented on #60
Checked accounts who use the "old" apis:
[code]

A lot of ACM... Good point @DanielFroehlich

[2022-01-03 15:41] rbo commented on #60
OCP 4.9 is supported.
Source: [Red Hat Advanced Cluster Management for Kubernetes 2.4 Support Matrix]( https://access.redhat.com/articles/6218901)

[2022-01-03 15:44] rbo commented on #60
Other core compontent should support 4.9. We can ignore sealed secret operator, not in use yet.

Let's ack:`oc -n openshift-config patch cm admin-acks --patch '{"data":{"ack-4.8-kube-1.22-api-removals-in-4.9":"true"}}' --type=merge` and hit the update button :-) Let's what's happen and learn... (and debug?)

[2022-01-03 15:45] DanielFroehlich commented on #60
FYI: I am seeing frequent etcd leader changes in RHACM cluster and realized we are also low on memory with the masters. Bumped them from 16GB to 24GB, change will affect on next reboot with your OCP upgrade.

[2022-01-03 15:50] rbo opened #61 "Reinstall ACS at acm cluster - replace manual installed version via Operator installed version."

[2022-01-03 15:51] rbo commented on #61
ACS is not in use... got for it....

[2022-01-03 15:55] rbo commented on #61
Follow the documentation: https://docs.openshift.com/acs/3.65/installing/uninstall-acs.html

[2022-01-03 16:01] rbo commented on #61
<details>
  <summary>Execution details</summary>

[code]

</details>

[2022-01-03 16:02] rbo commented on #61
Wait of #60 before installation...

[2022-01-03 19:04] rbo commented on #60
Cluster update completed. I have to check a couple of pods:

![image](https://user-images.githubusercontent.com/36604/147969306-c9b221b2-d9c0-4488-bec4-9fcd1a9181b7.png)

[2022-01-04 06:50] DanielFroehlich commented on #60
Iirc, Thanos is the Time series database for obersability. It's configured
to use object storage from ***@***.*** Maybe something is wrong with that, e
g the bucket is full?

On Mon, Jan 3, 2022, 20:04 Robert Bohne ***@***.***> wrote:

[2022-01-04 10:23] DanielFroehlich opened #62 "RHACM Thanos store crashlooping"
All Thanos-Store Pods are crashlooping

Log:
`level=warn ts=2022-01-04T10:20:12.380662281Z caller=intrumentation.go:54 msg="changing probe status" status=not-ready reason="bucket store initial sync: sync block: BaseFetcher: iter bucket: The AWS access key Id you provided does not exist in our records."
`
Something wrong with the S3 Bucket, hosted on OCP4 OCS

[2022-01-04 10:25] DanielFroehlich commented on #60
yeah, as expected, it is a problem with the Object store hosted on OCP4 OCS. Opened issue #62  for this, as it is probably and old problem, not related to the ocp update. closing this issue, as the update is completed successfully.

[2022-01-04 10:25] #60 closed, assigned to rbo

[2022-01-04 10:57] DanielFroehlich commented on #62
yes, the bucket in ocp4 is gone, probably deleted accidentally. will re-create using object bucket claim
"rhacm-thanos-bucket" in namespace "dfroehli-rhacm-observability"
Re-Configure the secreted with access data in RHACM cluster, as documented in
https://access.redhat.com/documentation/en-us/red_hat_advanced_cluster_management_for_kubernetes/2.3/html-single/observability/index#enabling-observabi

[2022-01-04 10:57] #62 closed, assigned to DanielFroehlich

[2022-01-04 10:59] DanielFroehlich commented on #1
Ah, see it is set up in RHACM, but something is failing:
"Alertmanager openshift-monitoring/alertmanager-main-1 failed to send 100% of notifications to webhook."

@rbo  Would you mind either roll this forward and make it run, or roll this back and remove, so we can get rid of the warning?

[2022-01-05 08:40] DanielFroehlich commented on #57
update to v4.9 completed

[2022-01-05 08:40] #57 closed, assigned to DanielFroehlich

[2022-01-07 14:15] rbo opened #63 "Please update RHV at least to 4.4.5 or later"
OpenShift IPI failed because of old RHV version:
[code]

Please update RHV at least to 4.4.5 or later

[2022-01-11 09:44] Javatar81 opened #64 "Update OCP4 4.8.22 -> 4.8.24"

[2022-01-11 10:40] ortwinschneider opened #65 "Update OCP3 4.8.21 -> 4.8.24"

[2022-01-11 14:44] ortwinschneider commented on #65
Update successfully completed.

[2022-01-11 14:44] #65 closed, assigned to nobody

[2022-01-11 16:36] #64 closed, assigned to nobody

[2022-01-17 12:28] mschindl commented on #63
Workaround:

Remove line: auto_pinning_policy

Check status:

[code]

[2022-01-17 14:19] rbo opened #66 "Cluster brake down "after" submariner enablement via rhacm"
Added ocp2 cluster to submariner cluster set. After a while it looks like oauth ingress brakes down. The ingress prods can not reach the auth services anymore.

Without (after uninstalling add-on from ocp2) submariner:
[code]
[code]

[2022-01-17 15:05] rbo commented on #66
### Networking overview:

From cluster via: ` oc get network/cluster -o yaml `

|Cluster|Clusternetwork| Service | MachineNetwork | API VIP | IngressVIP |
|---|---|---|---|---|---|
|OCP1| 10.**128**.0.0/14  (10.128.0.1 - 10.131.255.254 )Hostprefix /23 |  172.**30**.0.0/16 | 10.32.96.1/20 (x.x.96.1 - x.x.111.254) | 10.32.105.48 | 10.32.105.41 |
|OCP2|  10.**130**.0.0/18 ( 10.130.0.1 - 10.130.63.254

[2022-01-17 15:10] rbo commented on #66
#### with running submariner

=> oauth pod can not connect to own route anymore:
[code]
[code]

Check the active ingress pod, because keepalived attached the ingress VIP only on one node. **Backends are DOWN**

[code]

[2022-01-17 15:27] rbo commented on #66
From the node **ocp2-6598l-worker-xq9xb** which is the submarianer gateway node you can **NOT** reach any pod in the SDN. And the ingress is running on the same node....

[2022-01-17 15:42] rbo commented on #66
**Clusternworks are overlapping!**

Suggestion: reinstall OCP1 with clusternetwork: `10.120.0.0/18`

[2022-01-20 14:28] rbo commented on #66
After changing the cluster network installations works perfectly. But submariner can not establish a connection.

![2022-01-20-14-21-44-1642684904](https://user-images.githubusercontent.com/36604/150346787-2b0d1ea1-d7e5-41db-9284-d2a37c5ee6e1.png)

Let's start troubleshooting.

https://submariner.io/operations/troubleshooting/

[code]

#### => OCP1 is installed with the wrong service network it sh

[2022-01-20 14:35] rbo commented on #66
#### Firewall check looks not too bad:

[code]

[2022-01-20 19:41] rbo commented on #66
#### Reinstallation => DONE
[code]
Meanwhile when machineset is available:
[code]

Post-installation:
[code]

[2022-01-21 07:51] rbo commented on #66
It looks like submariner is successfully installed and configured:

![image](https://user-images.githubusercontent.com/36604/150487732-119ac964-a5b2-4e79-be64-d48886bf778f.png)

[2022-01-21 07:51] #66 closed, assigned to rbo

[2022-01-28 23:05] DanielFroehlich commented on #63
Done!
RHEV now on V4.4.9.5-0.1.el8ev

[2022-01-28 23:05] #63 closed, assigned to DanielFroehlich

[2022-02-15 10:23] rbo opened #67 "Cluster ocp1 CSI attach/detach fails becaue of : https://rhev.stormshift.... x509: certificate signed by unknown authority"
After Cert exchange of our rhev infrastructure (Ticket ID #56)  the CSI doesn't work anymore.

[2022-02-15 10:24] DanielFroehlich commented on #56
New Cert from Red Hat IT CA requested and added to all clusters
Also finally added it to RHEV engine, to get rid of the cert warning in the browser.

[2022-02-15 10:25] rbo commented on #67
✅ Trust bundle is well configured (`oc get proxy -o yaml`)

[2022-02-15 10:31] rbo commented on #67
[code]

Problem is the cloud provider settings:

[code]

**I have to update cloud-provider ca bundle**

[2022-02-15 10:39] rbo commented on #67
[code]

[2022-02-15 10:41] rbo commented on #67
SOLVED

[2022-02-15 10:43] rbo commented on #56
Please update `[root@stormshiftdeploy ~]# cat ~/.ovirt/ovirt-config.yaml` too

[2022-02-15 10:47] rbo opened #68 "Update cloud-credentials after cert exchange #56"
Related issues:
- #56
- #67

[2022-02-15 10:47] rbo opened #69 "Update cloud-credentials after cert exchange #56"
Related issues:
- #56
- #67
- #68

[2022-02-15 10:52] rbo commented on #67
[code]
Not solved at all, it's hard to find all components

[2022-02-15 10:53] rbo commented on #67
[code]

[2022-02-15 10:56] rbo commented on #67
My pods start again, let the ticket open to find all components and restart all pods :-(  Maybe restarting the entire cluster is the easiest way..

[2022-02-15 11:00] DanielFroehlich commented on #68
fixed using the wonderful description in #67

[2022-02-15 11:00] #68 closed, assigned to DanielFroehlich

[2022-02-15 11:03] DanielFroehlich commented on #56
done!
Added Red Hat IT Ca from ~/certs/redhat-pki-ca-chain.crt to  ovirt_ca_bundle

[2022-02-15 11:03] #56 closed, assigned to DanielFroehlich

[2022-02-16 08:46] rbo commented on #67
Source:
 * <https://access.redhat.com/solutions/5416491>

 Check secrets in namespaces:
[code]

Force kubecontrollermanager rollout:
[code]

[2022-03-04 11:40] mschindl opened #70 "Reinstall OCPx / OCP2"
Redeployment of OCP2 failed:

[code]
/root/ocp2_install/.openshift_install.log
[code]

Cleanup with

[code]

[2022-03-04 14:03] DanielFroehlich commented on #70
There might be still an issue with RHV Cluster Compatibility Versions. Investigating....

[2022-03-04 14:06] DanielFroehlich commented on #70
It actually was a problem with the default template "Blank" , which had a config that was no longer valid with the new RHV Version. It was with the Console Settings - I switched it to "Headless", and then cluster  deployment / vm creating works.

![image](https://user-images.githubusercontent.com/18532443/156777454-744cd3ff-c303-4355-a7a3-2a045122caeb.png)

[2022-03-04 14:06] #70 closed, assigned to DanielFroehlich

[2022-03-08 10:23] Javatar81 opened #71 "Update OCP4 4.8.24 -> 4.8.32"

[2022-03-08 12:31] Javatar81 commented on #71
DaemonSet "openshift-multus/multus-additional-cni-plugins" rollout is not making progress - last change 2022-03-08T11:12:34Z DaemonSet "openshift-sdn/sdn" rollout is not making progress - last change 2022-03-08T11:08:23Z

ip-reconciler Pod shows

[code]

[2022-03-08 20:39] #71 closed, assigned to nobody

[2022-03-14 08:36] DanielFroehlich opened #72 "OCP3 cert issues after downtime"
OCP3 was (partially) down for a couple of days due to HW issues.
After a clean re-boot, nodes compute-1, control-1 control-2 are not ready:
[code]

Seems certs did expire, I can see new csr's:
[code]

But approving the csr's fails:
[code]

That's the end of my troubleshooting skills. I can only speculate that as two of three control nodes are not ready, cluster has no quorum. I think there is some

[2022-03-14 15:46] rbo commented on #72
[code]
:-(

[2022-03-14 15:57] rbo commented on #72
oc client version is to old, updated oc client to latest stable 4.8 version:
[code]

[2022-03-14 15:58] rbo commented on #72
Approve all prending certificates: `oc get csr | awk '/Pending/ {print $1}'  | xargs oc adm certificate approve`

<details>
  <summary>Details</summary>
[code]

</details>

[2022-03-14 15:59] rbo commented on #72
Looks much better:
[code]

[2022-03-14 16:09] rbo commented on #72
Shutdown `control-1.ocp3.stormshift.coe.muc.redhat.com` & enable rhev console

[2022-03-14 16:19] rbo commented on #72
Console looks good:
![image](https://user-images.githubusercontent.com/36604/158215393-4f370e5c-b89e-4244-bb68-d328d8f59713.png)

Node is still notready.

I don't have ssh access because stormshiftdeploy is still not available.

[2022-03-14 16:52] DanielFroehlich commented on #72
For ssh access:
[code]

For kubeconfig access:
[code]

stormshift deploy vm has moved from COE RHV to stormshift RHV, was also affected from the HW issue last week and thus down. Its now online again after I started the VM:
[code]

[2022-03-14 17:56] rbo commented on #72
Let's recover kubelet:

##### On control-0
[code]

Transfer /tmp/recovery-kubeconfig and /tmp/rec-etc-kubernetes-ca.crt to controle-2

##### On control-1
[code]
Bascilly followed: https://github.com/stormshift/support/issues/46#issuecomment-951242834

Approved CSR's of control-2

[code]

[2022-03-14 18:23] DanielFroehlich commented on #72
LGTM THX

[2022-03-14 18:23] #72 closed, assigned to rbo, ortwinschneider

[2022-03-16 12:38] rbo opened #73 "Update rhacm cluster to 4.9.23"

[2022-03-16 12:44] rbo commented on #73
Update work in progress
[code]

[2022-03-30 12:46] rbo opened #74 "COE Lab 10g migration / update ovirtmgmt bridhe configuration"
Everything about the COE Lab 10g migration last days.
/cc @DanielFroehlich

[2022-03-30 12:49] rbo commented on #74
## Adjust storm6

Cable adjusted:

![image](https://user-images.githubusercontent.com/36604/160838039-524090fc-ed51-4e07-aa31-be50db137eae.png)

![image](https://user-images.githubusercontent.com/36604/160838514-0c0a4df8-cc5c-4244-ba04-6ea0fde6908d.png)
![image](https://user-images.githubusercontent.com/36604/160839483-fdf59072-5bcc-44b6-93cd-f10bbf93d90a.png)

[code]
![image](https://user-images.

[2022-03-30 13:06] rbo commented on #74
Let's reboot storm6 to double-check what's happened after the reboot.

[2022-03-30 13:41] rbo opened #75 "Poweroutage"
We had a short poweroutage.

On the APC back the overload switch was turn up so power was OFF.

![image](https://user-images.githubusercontent.com/36604/160848500-a1387ae5-dab8-4bc9-bcc4-f0a5d4c4f6aa.png)

[2022-03-30 13:45] rbo commented on #75
Sadly we had too many servers on the APC output.

I changed two rack power distributions from the affected output to the other APC output with way fewer consumers. That should solve the problem.

In addition, our main infra servers inf1 and satellite were also affected. I re-cabled one of the two power supplies direct to APC.

[2022-03-30 13:45] #75 closed, assigned to nobody

[2022-03-30 13:58] rbo commented on #74
Meanwhile a small power outage: https://github.com/stormshift/support/issues/75

[2022-03-30 14:08] rbo commented on #74
Mh, configuration lost.. Strange...

[2022-03-30 14:15] rbo commented on #74
![image](https://user-images.githubusercontent.com/36604/160856033-78049283-a8e0-4484-89a2-d8a364b9a3e4.png)

It's configured by old fession cfg files...

[2022-03-30 14:19] rbo commented on #74
Adjust condfiguration, let's try:

![image](https://user-images.githubusercontent.com/36604/160856910-33ce0c2c-544d-4425-b295-e3f3f5573ecb.png)

[2022-03-30 14:33] rbo commented on #74
Finally, updated `/var/lib/vdsm/persistence/netconf/nets/ovirtmgmt`
[code]

[2022-03-31 09:20] rbo opened #76 "Cisco UCS 5108 Setup"
- [x] Run password reset on both Cisco Cisco UCS 6248UP based on : https://medium.com/@mausami.inhe/reset-the-password-of-fabric-interconnect-8c402cf1e14f
- [X] Erase configuration: https://medium.com/@mausami.inhe/factory-reset-of-fabric-interconnect-2e3557710e58
- [x] Initial Setup https://medium.com/@mausami.inhe/initial-setup-of-a-fabric-interconnects-in-a-cluster-701ecdd23813

[2022-03-31 09:23] rbo commented on #76
Initial Setup can not proceed because of different kernel version:

![image](https://user-images.githubusercontent.com/36604/161022266-f5f6b20b-7a28-40a2-9aca-8a962d5337b1.png)

[2022-03-31 12:40] rbo commented on #76
#### Copy
FI-A:
[code]
FI-B:

https://www.cisco.com/c/en/us/td/docs/unified_computing/ucs/ucs-manager/GUI-User-Guides/Firmware-Mgmt/4-0/b_UCSM_GUI_Firmware_Management_Guide_4-0/b_UCSM_GUI_Firmware_Management_Guide_4-0_chapter_0110.html

#### Reboot an switch:
[code]

Unforantly I deleted all on FI-B / peer farbic and lost the new version. I will apply an update later

[2022-03-31 13:35] rbo commented on #76
Initial Setup done. FI-A/B are "empty"

[2022-04-01 07:05] rbo commented on #76
Server 3, the second big one has a fault RAM dim. Changed 3 - 2 new and orange an old one.

Reset Cisco UCS switches in single mode, we do not need HA on the switch side and don't want to handle a propper switch or os configuration.

[2022-04-01 07:24] rbo commented on #76
![image](https://user-images.githubusercontent.com/36604/161215221-6620371c-126c-4389-8195-66897b42103c.png)

[2022-04-01 07:36] rbo commented on #76
![image](https://user-images.githubusercontent.com/36604/161217247-e4efa04f-3a2d-4d81-8edd-e542ee8ea7b9.png)

## Server Overview

![image](https://user-images.githubusercontent.com/36604/161247825-f75122a1-c230-4e4b-9b4e-9e2a688b58ab.png)

[2022-04-01 10:40] rbo commented on #76
The Complete memory subchannel CPU2 N1-3 is not working. I switched the DIMMs between N1-3 and J1-3 and the error stays at N1-3.

Changing the RAM Configuration to 4 DIMMS per CPU to avoid usage of N* slots:
![image](https://user-images.githubusercontent.com/36604/161247116-b794e78c-16e7-4640-9502-9ae89ae255bc.png)
Source: [Spec Sheet Page 14 ](https://www.cisco.com/c/dam/en/us/products/collateral

[2022-04-03 09:17] DanielFroehlich commented on #74
RHEV config adjusted accordingly. Closing issue

[2022-04-03 09:17] #74 closed, assigned to DanielFroehlich

[2022-04-13 08:06] DanielFroehlich commented on #67
LGTM

[2022-04-13 08:06] #67 closed, assigned to rbo

[2022-04-13 08:10] DanielFroehlich opened #77 "RHACM cluster API not responding"
After COE Lab Upgrade, RHACM cluster is not responding "Connection refused". Seems that the API server is not coming up.
VMs are online, i can SSH into the nodes (even via API VIP), so infra looks good.
[code]

[2022-04-13 08:12] DanielFroehlich commented on #77
@rbo would you be able to take a look after lunch?

[2022-04-13 09:29] DanielFroehlich opened #78 "OCP4 NotReady after COE Lab re-build"
OCP4 Cluster is in INOP state after rebuild, login not working etc.
Looks like we have lost quorum, too many not ready nodes:
[code]
I suspect cert issue due to long days offline. I did approve CSR in state pending, but that did not help.
We need to invistigate and probably recover from expirired certs. We had this issue already, please search here for the resulotion.

[2022-04-13 09:30] DanielFroehlich commented on #78
@Javatar81 would you be able to take a look?

[2022-04-13 09:37] DanielFroehlich commented on #78
Please check if it is the same as https://github.com/stormshift/support/issues/46

[2022-04-13 09:41] DanielFroehlich commented on #78
control-1 (NotReady):
[code]

[2022-04-13 11:02] Javatar81 commented on #78
Identified problem with Kubelets not working. Followed these docs [](https://docs.openshift.com/container-platform/4.8/support/troubleshooting/verifying-node-health.html#querying-kubelet-status-on-a-node_verifying-node-health)

`systemctl status kubelet`
`found kubelet.go:2303] "Error getting node" err="node \"[control-1.ocp4.stormshift.coe.muc.redhat.com](http://control-1.ocp4.stormshift.coe.muc.

[2022-04-13 11:51] Javatar81 commented on #78
All nodes are ready

[2022-04-13 11:56] DanielFroehlich commented on #78
LGTM, THX

[2022-04-13 11:56] #78 closed, assigned to Javatar81

[2022-04-13 12:33] Javatar81 opened #79 "Unhealthy ODF in OCP4"
**noobaa-db-pg-0**

`Unable to attach or mount volumes: unmounted volumes=[db], unattached volumes=[noobaa-postgres-config-volume noobaa-postgres-initdb-sh-volume db kube-api-access-nbczv]: timed out waiting for the condition`

`MountVolume.MountDevice failed for volume "pvc-0096de38-19d3-46d4-91f5-c937ebe4e243" : rpc error: code = Aborted desc = an operation with the given Volume ID 0001-0011-ope

[2022-04-13 12:37] Javatar81 commented on #79
Found this https://github.com/rook/rook/issues/4896

[2022-04-13 14:27] DanielFroehlich commented on #79
Looks like we lost the NVME PCI passthrough during update, probably due to RHEV cluster version update.
Re-attached the nvmes to the VMs using RHEV Console:
![image](https://user-images.githubusercontent.com/18532443/163202926-067b0f77-fde4-4b61-b591-e57aa060ea5b.png)
VMs are starting, lets see if this helps...

[2022-04-13 16:55] DanielFroehlich commented on #79
![image](https://user-images.githubusercontent.com/18532443/163231429-961c9e7f-9d5d-4af9-9d84-4ffa6fe4b984.png)

LGTM!

[2022-04-13 16:55] #79 closed, assigned to nobody

[2022-04-19 07:33] rbo opened #80 "Cisco UCS Fabric interconnect end-host mode to ethernet mode"
Try to change from end host-mode to ethernet mode

[2022-04-19 07:36] rbo commented on #80
After the FI change to ethernet mode, the uplink to Red Hat Core Switch is down at the arista:

Before:
[code]

After:
[code]

After call with @astolzen, change uplink port at Red Hat Switch from Port 2 -> Port 10

[code]

ToDo: Check when the REd Hat Switch port 2 is enabled again.

[2022-04-19 07:47] rbo commented on #80
Did not work in Port 10, change wire back to Port 2. Port 2 is enabled and network looks better

[2022-04-19 09:51] rbo opened #81 "Add more RAM into UCS Blade 3"
![image](https://user-images.githubusercontent.com/36604/163978102-60819274-5b51-45f9-8b4e-0d7b97fdcbff.png)

[2022-04-19 09:52] rbo commented on #81
[code]

[2022-04-19 11:54] rbo commented on #81
Reset all memory errors and settings, now only subchannel I was missing. Changed DIMMS from J to I and I to J everything looks good

[2022-04-20 07:11] Javatar81 opened #82 "Storm3 is down"

[2022-04-20 14:04] DanielFroehlich commented on #82
storm6 also, was again the watchdog issue:
![image](https://user-images.githubusercontent.com/18532443/164248592-5016390e-2f69-4e00-83c6-184cd51007ed.png)

[2022-04-20 14:05] DanielFroehlich commented on #82
storm3 log last messages bevor reboot:
[code]

[2022-04-20 14:06] DanielFroehlich commented on #82
both storm3 and 6 rebooted, RHEV is back online. Keeping this issue open to monitor it.

On storm6, I did change the BIOS setting regarding the Watchdog timer:
It was:
![image](https://user-images.githubusercontent.com/18532443/164248929-8a135312-f3a2-4bf2-918c-cfa477f777cd.png)

Now it is ENABLED - let's see if this changes something.

[2022-04-21 13:14] DanielFroehlich commented on #82
Did happen today again, both storm3 +6 affected.
changing the watchdog setting in bios did not help, the system now really just freezes. what I think is trange that storm3 and storm6 do this kind of simultaneously. I will set rhev engine on storm3 in local maintenance mode, lets see if this helps.
`[root@storm3 ~]# hosted-engine --set-maintenance --mode=local
`

[2022-04-25 19:22] rbo commented on #77
I have problems with the DNS, I created a ticket at internal IT. Because it looks like the forwarding doesn't work very well: INC2187912

[2022-04-26 15:25] rbo commented on #82
Storm3 is down again, storm 6 is running.
Memtest is running on storm3
![image](https://user-images.githubusercontent.com/36604/165336148-615733dd-8967-4f19-8030-d2996cf81ce1.png)

[2022-05-02 09:32] rbo commented on #82
![image](https://user-images.githubusercontent.com/36604/166214162-ef57e48a-79b0-4799-b445-27bc0f27337b.png)
Memtest looks good.

[2022-05-02 09:33] rbo commented on #82
Reboot into RHEV

[2022-05-09 14:26] rbo opened #83 "Lost packages when uplink to ucs-a fabric interconnect is active"
We have a lot of lost packages if the port to cs-a fabric interconnect is active on arista.

Currently, port is deactivated:
[code]

[2022-05-10 08:22] DanielFroehlich commented on #77
Cluster API is still not reachable. DNS issue seems to be resolved:
[code]
I  see the VIP ....105.47 active on master-2:
![image](https://user-images.githubusercontent.com/18532443/167583010-36c9df9d-39a7-4924-9065-5d8341286d2b.png)

something is seriously broken. @rbo , can you please take a look?

[2022-05-10 14:05] rbo commented on #83
VLAN Configuration updated on cisco UCS:
Default Untagged is VLAN ID 32
Optional VLAN ID 9 Storage network.

![image](https://user-images.githubusercontent.com/36604/167647405-f3e0c529-ae10-4003-a5d5-17f77bf1fafc.png)

[code]

[2022-05-11 18:51] rbo commented on #81
done, server is running.

[2022-05-11 18:51] #81 closed, assigned to nobody

[2022-05-11 19:02] rbo commented on #77
puh it looks like master-0 got a new IP Adress
[code]

[2022-05-11 19:06] rbo commented on #77
And etcd ist not starting propperly on master-2
[code]

[2022-05-11 19:17] rbo commented on #77
Even with changed permissions etcd will not start.

etcd is running on master-1

I don't know if it makes sense to spend more time recovering the cluster because it's a simple ipi installation and if I remember correctly nothing fancy is deployed.

[2022-05-11 19:21] rbo commented on #76
UCS is running not perfect but running we have still a network problem: #80

[2022-05-11 19:21] #76 closed, assigned to rbo

[2022-05-12 06:43] rbo commented on #77
Cluster destroyed:
[code]

[2022-05-12 06:45] rbo commented on #77
I will set up a new one when I have time.

[2022-05-12 06:45] #77 closed, assigned to nobody

[2022-05-12 06:45] rbo commented on #73
Cluster is gone #77

[2022-05-12 06:45] #73 closed, assigned to rbo

[2022-05-12 06:45] rbo commented on #61
Cluster is gone #77

[2022-05-12 06:45] #61 closed, assigned to rbo

[2022-05-12 06:46] rbo commented on #80
Let's stay with end-host mode for now. I don't know how to disable STP.

[2022-05-12 06:46] #80 closed, assigned to nobody

[2022-05-12 20:09] DanielFroehlich commented on #69
fixed a long time ago, closing this issue

[2022-05-12 20:09] #69 closed, assigned to nobody

[2022-05-16 10:22] mschindl opened #84 "Postinstall does not configure SSO properly"
Postinstall does not configure SSO properly

Release: 4.9.31

SSO Login is missing:
<img width="1212" alt="image" src="https://user-images.githubusercontent.com/26382876/168572470-7c46b5d7-a6b4-4b9b-b4b6-47bd3b9c074e.png">

- [X] https://source.redhat.com/groups/public/solution-architects/stormshift/stormshift_wiki/install_openshift_v4_cluster_using_rhv_ipi

<img width="1213" alt="image" src="http

[2022-05-17 07:37] DanielFroehlich commented on #84
It takes a while to take effect. Looks good to me know, I did not change anything:
![image](https://user-images.githubusercontent.com/18532443/168755962-9909637e-6c31-4683-810b-057df20a62de.png)

[2022-05-17 07:37] #84 closed, assigned to nobody

[2022-05-17 11:05] rbo commented on #84
Just for information, usually the authentication cluster operator is in progress during the configuration role-out and yes this can take some time.

[2022-06-02 08:22] Javatar81 opened #85 "OCP4 not available"

[2022-06-02 08:24] Javatar81 commented on #85
API not available oc get nodes => no response
Found the following in control-o with `journalctl -b -f -u kubelet.service -u crio.service`

`Jun 02 08:18:28 control-0.ocp4.stormshift.coe.muc.redhat.com hyperkube[44497]: E0602 08:18:28.938422   44497 server.go:292] "Failed to run kubelet" err="failed to run Kubelet: failed to initialize client certificate manager: could not convert data from \"/var/

[2022-06-02 08:24] Javatar81 commented on #85
Similar issue: https://github.com/kubernetes/kubernetes/issues/65991

[2022-06-02 08:24] Javatar81 commented on #85
Moved mv /var/lib/kubelet/pki/kubelet-client-current.pem  /var/lib/kubelet/pki/kubelet-client-current.pem_bak and restarted kubelet.

[2022-06-02 08:28] Javatar81 commented on #85
[code]

[2022-06-02 08:47] Javatar81 commented on #85
Recovered kubelet and approved csr

[2022-06-02 08:47] Javatar81 commented on #85
[code]

[2022-06-02 08:52] Javatar81 commented on #85
Control 0 and Control 2 were rebooted automatically. After reboot:

[code]

[2022-06-02 08:58] #85 closed, assigned to nobody

[2022-06-07 15:43] rbo opened #86 "Power outage 2022-06-04"
Power-input

1. 1x 25A via USV ~ 5750 Watt
2. 3x 16A direct ~ 3680 Watt each

[2022-06-08 12:36] rbo commented on #86
Tomowwor I will change power from USV to non USV of server:
- [x] inf45
- [x] inf49
- [x] storm2
- [ ] storm3
- [x] storm1

[2022-06-08 12:36] rbo commented on #86
Power of inf45, usv load is at 80%

[2022-06-08 12:59] DanielFroehlich commented on #86
Can we keep Storm 3 on usv? NFS and DNS is running there. Storm 4,5 would be better if on USV to move to non USV

[2022-06-09 09:04] rbo commented on #86
Per rack we have 2x 16 A

----

- Storm 1, PSU 3 & 4 => Direct A, PSU 1 & 2 => direct B
- Inf46 1x Direct A, 1x Direct B
- Storm 2, 1x Direct A, 1x Direct B
- Direct C -> UCS Blade & Fabric interconnect
- Direct D -> All SF 1-4
- Storm 4 2x Direct E
- Storm 5 2x Direct E
- Storm 6 1x Direct E , 1x Direct F

[2022-06-09 11:43] rbo commented on #86
- Inf47 direct F

[2022-06-09 12:10] rbo commented on #86
- Inf49 direct F

[2022-06-09 12:24] rbo commented on #86
- inf45 direct A&B

[2022-06-09 13:57] rbo commented on #86
![image](https://user-images.githubusercontent.com/36604/172864787-bd8f3644-4f14-4496-888f-a7fa925fc45f.png)

DONE :-)

[2022-06-09 13:57] #86 closed, assigned to nobody

[2022-06-13 06:55] rbo opened #87 "Configure / Setup NetApp"
- [x] Reconfigure Network (e0c) from storage network to normal COE network. (VLAN is configured on switch side; unttaged 9 -> unttaged 32)
- [x] Storage configuration as simple as possible:
   - [x] VM/Volume for NFS OCP Cluster
   - [x] iSCSI Block for OCP Cluster
   - [x] NFS for Stormshift
   - [x] Trident for various OCP Cluster.

[2022-06-13 06:55] rbo commented on #87
Stopped all Storage VM's

![image](https://user-images.githubusercontent.com/36604/173296731-799d00dc-3d4c-47fa-92c6-45cff318d07b.png)

[2022-06-13 08:38] DanielFroehlich commented on #87
to move stormshift from the internal NFS servers on storm3 and storm6 to netapp NFS, we would need around 4TB of NFS storage.
And a means to create NFS exports/volumes via ansible, for OCP dynamic NFS provisionors.

[2022-06-13 08:53] rbo commented on #87
@DanielFroehlich  Currently in use at storm3 850G and storm6 8.1G, so 4 TB is really "pessimistic" ?

<details>
  <summary>Details from storm3 & storm6</summary>

### Storm3

[code]
### Storm6
[code]
</details>

[2022-06-13 09:22] DanielFroehlich commented on #87
storm6 is using 2.3T, 92% full 2.3T(storm6) +0.8T (storm3) == 3.1T currently in use, so 4TB is more realistic I would say.

[code]

[2022-06-13 09:26] rbo commented on #87
Ah my fault:
[code]

That's include all Virtual Machine disk images?

[2022-06-13 09:55] DanielFroehlich commented on #87
all VM images that are on RHV storage domain "data6" - there are some also on storm3. At some point in time, storm3 became to small, hence I added a 2nd one.
plus some OCP IPI RHV storage provisioning volumes on storm6.
If we could all consilidate this to netapp that would be great, and probably increase our availablibilty because netapp is much more stable then storm3 (which hangs currently).
So

[2022-06-13 09:57] rbo commented on #87
Got it thanks

[2022-06-17 12:58] rbo commented on #87
All data is delete on the NetApp, not Volumes, Storage VM,... available anymore

[2022-06-17 13:10] rbo commented on #87
At arista:
[code]

[2022-06-20 17:17] DanielFroehlich commented on #82
Just saw a note regrading Bios:
https://www.reddit.com/r/vmware/comments/udodo0/avoid_dell_bios_2140_on_r730/
![image](https://user-images.githubusercontent.com/18532443/174651537-830389bd-d497-4b60-a403-3932f6b70e7c.png)

"dsu"- command line actually shows that downgrade. Executing it now:
![image](https://user-images.githubusercontent.com/18532443/174651632-2e8dfc1e-3eca-4e6d-87cd-ff731c906878.p

[2022-06-26 14:23] rbo opened #88 "Add nmstate config to cluster.coe // Networking & KubeVirt/CNV/OCP-V"
Added nmstate config to coe ocp cluster to provide network access to VM's

[2022-06-26 14:26] rbo commented on #88
- inf4 -> eno1 main and only interface
- inf4 -> eno1 main and only interface
- inf5 -> eno1 main and only interface

Add an bridge to main interface is not supported but technical possible

[2022-06-26 14:32] rbo commented on #88
Let's try first only at one master:
[code]

[code]

[2022-06-26 14:36] rbo commented on #88
[code]

[2022-06-27 12:33] rbo commented on #88
Internal Chat with eng. https://coreos.slack.com/archives/C019X3PEF2B/p1656329450916889

[2022-06-27 12:34] rbo commented on #88
[code]
eno1 is duplicated, lets delete the second one with uuid:
[code]

[2022-06-27 14:18] rbo commented on #88
<details>
  <summary>nodenetworkstate.nmstate.io/inf6.coe.muc.redhat.com</summary>

[code]
</defails>

[2022-06-27 14:21] rbo commented on #88
<details>
  <summary>NodeNetworkState inf4 before</summary>

[code]
</defails>

[2022-06-27 15:17] rbo commented on #88
With OpenShift SDN it is technically possible to share the main interface with SDN Traffic and VM attached via a bridge into the local network. Unless you use the openshift internal lb (keepalived/haproxy).
With OVNKubernetes it is not possible

RFE to improve this: https://issues.redhat.com/browse/CNV-12835

Recommended solutions:
- use a second interface with a bridge
- use SR-IOV on the main in

[2022-06-27 17:15] rbo commented on #88
- Installed SR-IOV Operator
- Labeled all nodes with `feature.node.kubernetes.io/network-sriov.capable="true"`
- Enabled sriov in bios at inf6
  https://www.dell.com/support/kbdoc/en-us/000144029/enabling-sr-iov-technology-on-dell-poweredge-servers
   ![image](https://user-images.githubusercontent.com/36604/175998001-3c94f0bc-a1eb-4d56-9a3c-dffc2ecca0fa.png)
- Device Settgins -> NIC 1 Port 1 -> De

[2022-06-28 08:56] DanielFroehlich commented on #82
downgraded storm6 today, too (pending reboot) as it hung up yesterday evening.
but storm3 maybe had another hang yesterday evening, too (Steffen reported a hung and did IDRac reboot)

[2022-06-28 10:07] rbo commented on #88
- Enabled SR-IOV in bios at inf4

[2022-06-28 11:27] rbo commented on #88
- Enabled SR-IOV in bios at inf5

[2022-06-28 12:51] DanielFroehlich opened #89 "OCP4 notes NotReady after long outage"
OCP4 has been offline for a couple of weeks due to RHV networking issues.
It's back online, but two nodes dont get ready:
[code]
could be expired certs, but not CSRs visible. IIRC, we had this already in the past, please investigate and fix.

[2022-06-28 12:54] DanielFroehlich opened #90 "OCP4 needs TLC"
OCP4 was offline for a couple of weeks and needs some tender, love and care.
Things:

- [ ] Update to OCP 4.9.x - 4.8. is kind of end of live
- [ ] Update ODF accordingly
- [ ] remove all uncessary/unsed  workload  (e.g. I see at least 4 CRW deployments/namespaces)
- [ ] fix crash looping / frequently restarting pods
- [ ] ...

[2022-06-28 13:20] DanielFroehlich opened #91 "OCP3 notes NotReady after long outage"
control-0 control-1 do not get ready, probably due to cert issues after long down time.
[code]

Probably needs cert recovery procedure applied. Please investigate

[2022-06-29 09:18] Javatar81 commented on #89
[code]

Certificates expired

[2022-06-29 09:28] Javatar81 commented on #89
After restoring certificates as described here https://github.com/stormshift/support/issues/72

[code]

[2022-06-29 09:40] Javatar81 commented on #89
Removed gpu node because it cannot be recovered

[2022-06-29 11:15] Javatar81 commented on #89
Problem with degraded node in machine config pool (mcp)

`oc get mcp
NAME     CONFIG                                             UPDATED   UPDATING   DEGRADED   MACHINECOUNT   READYMACHINECOUNT   UPDATEDMACHINECOUNT   DEGRADEDMACHINECOUNT   AGE
master   rendered-master-152a60c24bdf3a8ecbacd81c68e0ab97   True      False      False      3              3                   3                     0

[2022-06-29 11:18] Javatar81 commented on #89
As proposed by knowledge base article:
[code]

Deleted truncated file.

[2022-06-29 11:20] Javatar81 commented on #89
Waiting for mcp to recover from degraded state.  Mcp still degraded.

[2022-06-29 11:36] Javatar81 commented on #89
Image registry degraded => ImagePrunerDegraded: Job has reached the specified backoff limit

Knowledge Base: https://access.redhat.com/solutions/5370391

Solution successful. Registry available again.

[2022-06-29 11:50] Javatar81 commented on #89
Trying update 4.8.35 -> 4.8.43

[2022-06-29 15:40] Javatar81 commented on #89
Stuck during update:

[code]

[2022-06-29 15:45] Javatar81 commented on #89
The machine config daemon on compute does not allow to view logs.

[code]

Daemon pods on other nodes are all viewable.

[2022-06-29 16:01] rbo commented on #89
[code]

It looks like the `/etc/kubernetes/ca.crt` is changed and this is not expected from MCO.

[2022-06-29 16:03] rbo commented on #89
Let's drain the node: `oc adm drain --delete-emptydir-data --ignore-daemonsets node/compute-0.ocp4.stormshift.coe.muc.redhat.com`

[2022-06-29 16:20] rbo commented on #89
Let's force and rejoin the node:
[code]

Doesn't help.... Let's copy the /etc/kubernetes/ca.crt from another host.
[code]

[2022-06-29 16:23] rbo commented on #89
Fixed
[code]

[2022-07-01 05:50] #89 closed, assigned to Javatar81

[2022-07-04 10:04] DanielFroehlich commented on #82
had a storm2 hangup on Jul/2, which got fixed by fence agent reboot.
BIOD downgrade to storm2  and storm5 today.
So all hypervisors are now downgraded to BIOS 2.13.0.

[2022-07-04 10:58] mschindl opened #92 "Add 4.10 repo and update current 4.9 to 4.9.38"
Add 4.10 repo and update current 4.9 to 4.9.38
<img width="409" alt="image" src="https://user-images.githubusercontent.com/26382876/177141457-88fc5b3b-3f11-4cc1-b168-4987bd448ac1.png">

[2022-07-04 11:00] mschindl commented on #92
4.9 updated to >
<img width="1066" alt="image" src="https://user-images.githubusercontent.com/26382876/177141546-a8b7eafb-bf90-4d8d-bade-103177993c32.png">

[2022-07-04 11:16] mschindl commented on #92
4.10 added to >
<img width="1122" alt="image" src="https://user-images.githubusercontent.com/26382876/177143993-028b1985-5a11-4b04-be19-720f2c8a1bd2.png">

[2022-07-04 11:16] #92 closed, assigned to nobody

[2022-07-04 18:37] rbo commented on #87
@DanielFroehlich  NFS for StormShift: `10.32.97.2:/stormshift_rhv`  - for new 1TB it grows automatically, de-duplication is enabled.

[2022-07-05 07:25] DanielFroehlich commented on #87
Cool, Thx!

Two points:
Permission issue:
"Fehler beim Ausführen der Aktion Speicherverbindung hinzufügen: Berechtigungseinstellungen auf dem angegebenen Pfad erlauben keinen Zugriff auf den Speicher. Überprüfen Sie die Berechtigungseinstellungen auf dem angegebenen Speicherpfad."

Engine Mount:
Can I get a 2nd path "stormshift_rhv_engine" of 100G for RHV hosted engine?

Thx Daniel

[2022-07-05 07:35] rbo commented on #87
done: `10.32.97.1:/stormshift_rhv_engine`

Permission issue is strange, I tested the mount and create data. Maybe we have to change some unix persmission. Is the Share some where mounted?

[2022-07-05 07:48] DanielFroehlich commented on #87
vdsm log on storm3 (where the mount is tested):
[code]

[2022-07-05 08:05] DanielFroehlich commented on #87
with 777 permission on the export mount from RHV does work!

[2022-07-05 13:16] rbo commented on #87
Trident is configured at our BareMetal COE Cluster https://console-openshift-console.apps.cluster.coe.muc.redhat.com/

How to configure trident on your OpenShift Cluster is documented here: https://github.com/stormshift/iac/blob/main/docs/netapp-trident.md

[code]

NAS = NFS
SAN = iSCSI

[2022-07-05 13:17] rbo commented on #87
@DanielFroehlich can you change your NFS Mounts to: `10.32.97.2:/stormshift_rhv` => `10.32.97.1:/stormshift_rhv` - thanks & sorry (The one instead of two at the end of the IP)

[2022-07-06 07:48] rbo commented on #88
MCP  degraded... :-( let's fix it.

[code]

[2022-07-06 08:17] rbo commented on #88
[code]
Let's try to reboot the node...

[code]

=> https://access.redhat.com/solutions/4951051

[code]

on node inf4

Again:

[code]

Let's try https://access.redhat.com/solutions/5598401

[code]

[code]
SOLVED, let's get back to networking

[2022-07-06 08:48] rbo commented on #88
### SR-IOV
[code]

[code]

[2022-07-06 09:00] DanielFroehlich commented on #87
Stormshift RHV domain switch to 10.32.97.1

[2022-07-06 09:01] DanielFroehlich commented on #87
Strange storgae usage: RHV disk is 497G, but used is 1.3T???
[code]

Maybe some kind of snapshots active?

[2022-07-06 09:03] rbo commented on #87
Yes snapshots are active. I can disable for rhv if you like

[2022-07-06 09:07] DanielFroehlich commented on #87
Yep, I see them now:
du -hs .*
4.8T	.
15G	..
[root@storm3 dan]# ls -la
total 16
drwxrwxrwx.  3 root root 4096 Jul  6 11:03 .
dr-xr-x---. 13 root root 4096 Jul  6 10:56 ..
drwxrwxrwx. 10 root root 4096 Jul  6 11:05 .snapshot
drwxr-xr-x.  4 vdsm kvm  4096 Jul  6 10:16 0c2d5fff-fe37-4bf0-8cd4-9eb916e2a88f

already 4.2T of snapshot. We dont need that. please disable.
Thx Daniel

[2022-07-06 09:17] rbo commented on #87
done and snapshots deleted.

[2022-07-06 09:18] rbo commented on #87
FYI: don't trust `du` to much on a netapp nfs share ;-)

[2022-07-06 10:18] rbo commented on #88
#### unsupported configuration: host doesn't support passthrough of host PCI devices

Enable `intel_iommu`

[code]

[2022-07-06 18:28] rbo opened #93 "Reinstall inf31 - Monitoring & Secondary IDP"
- [x] Reinstall inf32 with RHEL8
- [x] Added permanent KVM / avocent
- [x] Check network cable - if should be connected to the cisco switch
- [x] Install OMD https://labs.consol.de/omd/ - https://inf31.coe.muc.redhat.com/mon
   - [ ] Configure basic checks
     - [ ] Ping check mgmt interface
     - [ ] Ping check primary interface
     - [ ] SSH Login?
   - [x] Alerting into Telegram group
   - [

[2022-07-06 18:30] rbo opened #94 "coe muc room temperature sensor is nobody assigned"
I case of high room temperature, nobody will be informed

[2022-07-06 18:39] rbo commented on #88
Added Kernel Argument `iommu=pt` too.

VM/POD always get:
[code]

https://kubevirt.io/user-guide/virtual_machines/interfaces_and_networks/#how-to-expose-sr-iov-vfs-to-kubevirt - doesn't helped.

Let's have a chat with cnv eng. https://coreos.slack.com/archives/C017V3R4M08/p1657132571061319

[2022-07-06 18:46] rbo commented on #88
Mh, I change my `SriovNetworkNodePolicy` from `deviceType:netdevice` into `deviceType:vfio-pci` maybe this helps?

based on https://github.com/kubevirt/kubevirt/issues/3035#issuecomment-598077943

[2022-07-06 18:55] DanielFroehlich commented on #93
Good Action! Can we please alert to Gchat? Or email?

On Wed, Jul 6, 2022, 20:28 Robert Bohne ***@***.***> wrote:

[2022-07-06 18:57] rbo commented on #88
VM booted but don't get an IP, let's disable `spoofChk: "off"`
[code]

[2022-07-06 18:59] rbo commented on #93
@DanielFroehlich of course, we can configure different alerts to email or gchat for different servers, checks, groups whatever...

[2022-07-08 07:22] Javatar81 opened #95 "Update OCP4 4.8.44 -> 4.8.45"

[2022-07-08 08:40] #95 closed, assigned to nobody

[2022-07-08 08:43] Javatar81 opened #96 "Update OCP4 4.8.45 -> 4.9.40"

[2022-07-08 11:01] Javatar81 commented on #96
ClusterOperator Monitoring cannot update. Statefulset prometheus-k8s stuck.
Tried to solve this by adding annotations as described here: https://bugzilla.redhat.com/show_bug.cgi?id=2028792 - no success
Deleted PVC so the operator could create new ones - no success
Creating a PVC with Ceph block storage checked - worked

[2022-07-08 14:37] Javatar81 commented on #96
Deleted finalizer of StatefulSet helped

[2022-07-08 14:39] #96 closed, assigned to nobody

[2022-07-10 10:06] rbo opened #97 "PVC stuck in pending - storageclass: ocs-external-storagecluster-cephfs"

[2022-07-10 10:11] rbo commented on #97
Created test pvc

[code]
Check logfiles:
[code]

[2022-07-10 10:14] rbo commented on #97
[code]

[2022-07-10 10:34] rbo commented on #97
Let's restart some pods:
[code]

[2022-07-10 10:45] rbo commented on #97
[code]

[2022-07-11 07:28] rbo commented on #93
RHEL 8 removed the driver of the raid controller:

![image](https://user-images.githubusercontent.com/36604/178211182-b9cf7541-a878-4c3f-b4e2-9228dae2e337.png)

[2022-07-11 13:41] rbo commented on #93
Tried to add the driver during [https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html-single/performing_an_advanced_rhel_8_installation/index#updat[…]d-user](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html-single/performing_an_advanced_rhel_8_installation/index#updating-drivers-during-installation_installing-rhel-as-an-experienced-user)  with I

[2022-07-12 09:13] rbo commented on #88
More and more I came to the conclusion SR-IOV function <-> Linux Software Bridge will not work.

Because all VF's are connected to the PF via an internal switch (VEB/VEPA)  and it looks like the mac_address from the software bridge (fdb) are not "forwarded" to the internal switch or the internal switch is not able to learn others MAC Addresses.

According to https://downloadmirror.intel.com/732255

[2022-07-12 09:35] rbo commented on #88
https://community.intel.com/t5/Ethernet-Products/82599-VF-to-Linux-host-bridge/m-p/351803/highlight/true#M5201

[2022-07-13 11:56] rbo commented on #88
Let's get back to plain sr-iov configuration:

[code]

And watch:
[code]

Check SR-IOV Network
[code]

[2022-07-13 12:05] rbo commented on #88
#### Cleanup bridges configurations:

[code]

Check:
[code]

Delete nncp
[code]

[2022-07-13 12:07] rbo commented on #88
#### Cleanup old network-attachments
[code]

[2022-07-13 12:21] rbo opened #98 "Move rdp.coe.muc.redhat.com from inf48 to coe ocp-v"

[2022-07-13 12:22] rbo commented on #98
[code]

[2022-07-13 14:34] rbo commented on #98
#### Create PVC with qcow2:

![image](https://user-images.githubusercontent.com/36604/178736585-3d2064b3-00b4-47d8-9209-4562a1e6fa03.png)

![image](https://user-images.githubusercontent.com/36604/178737141-2e1deef2-2325-4e42-9ec7-10aa84f05c11.png)

#### Create service

[code]

#### Update DNS rdp.coe.muc.redhat.com
[code]

[2022-07-13 14:38] rbo commented on #88
Metall Installed, works like charm.

[2022-07-13 14:38] #88 closed, assigned to rbo

[2022-07-13 14:39] rbo commented on #98
RDP Running von ocp-virt.

[2022-07-13 14:39] #98 closed, assigned to nobody

[2022-07-14 12:12] rbo commented on #97
![image](https://user-images.githubusercontent.com/36604/178979543-ada60f2f-0e52-4bc1-b793-ed9de406bbb0.png)
https://access.redhat.com/articles/4731161
https://access.redhat.com/labs/odfsi/#T0RGIGFzIFNlbGYtTWFuYWdlZCBTZXJ2aWNlLDQuMTAuNCwwLDEsMCww

[code]

We have to update the central ceph cluster.

[2022-07-14 12:44] Javatar81 commented on #97
We have ODF 4.8 on OCP 4.9 cluster. My plan was to update ODF to 4.9 but I cannot because it is still in installing state (happened after the OCP 4.8 -> 4.9 update btw)

[2022-07-15 11:01] rbo commented on #97
@Javatar81 ODF in internal mode is not effected. Non of the stormshift clusters are connected to the external coe ceph.

Ceph is updated to latest & greates version, pvc works again.

[2022-07-15 11:01] #97 closed, assigned to rbo

[2022-07-15 12:02] rbo opened #99 "Setup IPA Replicas on inf31"
- [X] Setup IPA Replication
- [x] Update Red Hat DNS currently only inf1 is configured as forwarder

[2022-07-15 13:05] rbo commented on #99
https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/installing_identity_management/installing-an-ipa-replica_installing-identity-management#installing-an-idm-replica-with-integrated-dns-and-a-ca_install-replica

[code]

[2022-07-15 13:07] rbo commented on #99
[code]

[2022-07-15 13:19] rbo commented on #93
OMD installed: https://inf31.coe.muc.redhat.com/mon

Scondary IDP installed: https://github.com/stormshift/support/issues/99

[2022-07-20 15:28] rbo opened #100 "Noobaa Mgmt not available"
https://noobaa-mgmt-openshift-storage.apps.cluster.coe.muc.redhat.com/

=> Application is not available

Application pod running, but have problems to connect to database:
[code]

Let's check the database:

[code]

[2022-07-20 15:30] rbo commented on #100
Let's check with:

[code]
on which node which rbp is attached.

Volume is attached to node `inf4` but pg pod is running on `sf2`

I Don't know how to detach volume by hand. Let's reboot the node...

[code]

[2022-07-20 15:36] rbo commented on #100
After reboot, node is ready again.
[code]
Problem solved.

[2022-07-20 15:36] #100 closed, assigned to rbo

[2022-07-21 11:11] DanielFroehlich opened #101 "ensure graceful shutdown on overtemp / lost AC situations"
In case we loose AC cooling and temperature rises, all major systems (storm1-6 etc) need to shutdown gracefully-
IDRAC has e.g. air intake temp values with warn/critical thresholds which have been reached in the past AC lost incidents.
Identify / find right config (on IDRAC or OS level) and activate.

[2022-07-22 10:23] #87 closed, assigned to rbo

[2022-07-28 16:40] DanielFroehlich commented on #101
Configure IDRAC Alerts:
<img width="1793" alt="image" src="https://user-images.githubusercontent.com/18532443/181591689-abc89507-3276-4720-b96f-a8e8ab786426.png">

- [x] storm1
- [x] storm2
- [x] storm3
- [x] storm4
- [x] storm5
- [x] storm6

[2022-08-08 07:26] DanielFroehlich commented on #93
Can we add a nice cert? The stormshift master cert has a SAN of "monitor.stormshift.coe.muc.redhat.com" - if we add this as vhost to thruk (alaias to inf31) and provide a DNS entry, it would work. What do you think?

[2022-08-08 07:31] #101 closed, assigned to DanielFroehlich

[2022-08-08 07:44] DanielFroehlich commented on #94
I think this is now fixed with thruk implementation and alerts going to telegram / gchat.
Closing, please re-open if I got it wrong.

[2022-08-08 07:44] #94 closed, assigned to nobody

[2022-08-08 07:45] DanielFroehlich opened #102 "integrate ocp alert manager with thruk"
can we integrate OCP alert manager with thruk, to forward OCP critical alerts to thruk and from there to gchat/telegram?
Or somehow else send OCP internal criticals alerts to gchat?

[2022-08-08 07:47] DanielFroehlich opened #103 "add storm1-6 air intake temp to thruk"
It should be possible to expose IDRAC SNMP air intake temperatures. Add these as service to thruk, to improver early warnings on over temp events.

[2022-08-08 08:35] DanielFroehlich commented on #82
looks like the bios downgrade did fix the issue - we had no hangup / freeze since then. Closing this issue now.

[2022-08-08 08:35] #82 closed, assigned to nobody

[2022-08-08 10:00] DanielFroehlich commented on #91
restarted ocp3 today after the long infra downtime. Needed to approve some CSRs, then the above mentioned problems appears again.
@ortwinschneider , would you mind take a look, or ask @rbo  for help?
I am still guessing a cert issue as root cause.

[2022-08-17 18:49] DanielFroehlich commented on #90
This has been done meanwhile by @Javatar81 , so we can close this issue. Thx!

[2022-08-17 18:49] #90 closed, assigned to nobody

[2022-08-29 13:14] rbo commented on #93
Technical possible, to be honest: I try to avoid more effort and complexity.  A proper Red Hat certificate for inf31.coe.muc.redhat.com is on my To-Do list. Maybe you can assist to request an *.coe.muc.redhat.com certificate, then we can use this for much more "core" services?

[2022-08-29 13:15] rbo commented on #102
Might be possible, but I suggest alerting direct from the cluster to gchat & telegram and managed the configure via gitops.

[2022-08-29 13:27] rbo commented on #103
Sounds good, if you have the OID's and information ping me to integrate this into the monitoring.
Feel free to use inf31 for the tests, here an bunch of examples:

[code]

Here for example an OID check of the APC:
[code]

Let me know If I can support.

[2022-08-29 13:45] DanielFroehlich commented on #93
Here's ansible magic, I think only the last step using the PKI command is not working anymore, you have to upload the CSR manually to the Red Hat CA site:

https://github.com/stormshift/automation/blob/a9d319120c81d4e7ed5b93e6970863543e9eafa1/050_prepare_installhost.yml#L94

[2022-08-29 13:53] rbo commented on #91
Does the problem still exist?

[2022-08-29 15:55] DanielFroehlich commented on #91
yes

[2022-08-29 17:44] rbo commented on #91
All nodes are not Ready.

[code]

Better but not perfect.

[2022-08-29 17:57] rbo commented on #91
control-0, fixed with https://github.com/stormshift/support/issues/72#issuecomment-1067121213

[2022-08-29 17:58] rbo commented on #91
control-1 not available via ssh

[2022-08-29 17:59] rbo commented on #91
Controle-1:
![image](https://user-images.githubusercontent.com/36604/187267262-d741e35f-d1ff-4c0d-99c4-515790de10cb.png)

Let's force reboot.

[2022-08-29 17:59] rbo commented on #91
ah now it reboots... without any activity

[2022-08-29 18:01] rbo commented on #91
stuck at the same point, looks like a reboot loop. Let's switch off and switch on in rhev.

[2022-08-29 18:05] rbo commented on #91
Strange, I don't know. I suggest reinstalling control-1 and follow: https://docs.openshift.com/container-platform/4.8/backup_and_restore/control_plane_backup_and_restore/replacing-unhealthy-etcd-member.html

[2022-08-29 18:05] rbo commented on #91
Who like to do this job? :-)

[2022-09-01 09:05] DanielFroehlich commented on #103
Here's some OID for storm3:
[code]

[2022-09-01 09:11] DanielFroehlich commented on #103
And the actual values/current Readings are on these OID:
[code]
(values in centigrade celsius)

[2022-09-01 09:21] stefan-bergstein opened #104 "Regular shutdown of OCP5 Control nodes hung"
Shutdown of worker nodes worked fine:
[code]
Shutdown of control nodes:
[code]

... cp5-control-1 hung for 10 minutes:

![OPC5-Control1-Screenshot](https://user-images.githubusercontent.com/19570494/187878991-914082b4-9c87-4c86-b1b8-2e04bbf791e1.png)

Note, control nodes host ODF with PCI passthrough disks and pinned nodes.

Workaround: Force stop VM via RHV connsole.

[2022-09-01 09:30] DanielFroehlich commented on #103
Btw, the "early warning sign" of AC failure seems to be an Inlet Temp >21. I suggest we set a very first tight limit to learn.
![image](https://user-images.githubusercontent.com/18532443/187881698-e02bc1e9-dc17-4802-92ef-496fa8bad548.png)

[2022-09-21 08:31] DanielFroehlich opened #105 "NetAPP offline after construction maintenance"
COE netapp is offline after construction work.
ctrl1 (10.32.104.21) and ctrl2 (10.32.104.22) can be pinged.
mmgt VIP can be pinged, but mmgt console  (https://10.32.104.23/sysmgr/v4/) is conn refused.

NFS service (10.32.97.1:/stormshift_rhv) cant be mounted by stormshift RHEV.

[2022-09-21 08:36] DanielFroehlich commented on #105
Username pswd is in inventory sheet. With that:

[code]

[2022-09-21 09:15] DanielFroehlich commented on #105
Thanks to google, I found this:

[code]

looks like it's working again!

[2022-09-21 09:53] #105 closed, assigned to nobody

[2022-10-04 14:19] rbo commented on #103
We can also add power consumtion for the dell servers too:

[code]

https://www.dell.com/support/manuals/de-de/idrac9-lifecycle-controller-v3.3-series/snmp_idrac_cmc_9.3_ref_guide/power-usage-table?guid=guid-2268ca3e-ad8d-4d42-8f58-a755f244966c&lang=en-us

 * `.60.1.9.1.1`  => `powerUsagePeakWattspowerUsagePeakWatts`
 * `.60.1.20.1.1`  => `powerUsageInstantaneousHeadroom`
 * `.60.1.16.1.1`  => `po

[2022-10-25 15:54] rbo opened #106 "decommission old UPS"
Old UPS is direct wired to the fuse at the MDF room.

Power is connected to UPS because network light is on.

[2022-10-25 15:55] rbo opened #107 "Decommission old UPS"
Old UPS is direct wired to the fuse at the MDF room.

Power is connected to UPS because network light is on.

[2022-11-08 09:37] rbo opened #108 "Added Cisco N5K-C5672UP to network"
- [X] Rack one of the two switches and cable it.
  - DONE on top of the middle Rack
- [x]  Factory reset of the switch
  - https://www.cisco.com/c/en/us/td/docs/switches/datacenter/sw/password_recovery/b_nx_os_pwr/nx_os_pw.html#82840
  - https://blog.davidvassallo.me/2013/03/31/nugget-post-resetting-a-cisco-nexus-switch/
  - https://www.youtube.com/watch?v=9g0Qn9sNoB8
- [ ] Upgrade to Release 7.3(

[2022-11-10 10:52] rbo commented on #108
N5K-C5672UP in the middle rack have no software on bootflash
Startup the other one mounted in left rack boots. Tried to reset the admin password, failed. I'm to dump...
- Connected serial port to my laptop followed http://blog.unolution.com/networking/how-to-password-reset-on-nexus-5k/
- But after `switch(boot)# load bootflash: <system_image_file.bin>` it always boot into `switch (boot)` and not t

[2022-11-10 14:05] rbo commented on #108
Password reset & Downloaded all Firmware & Licences to USB stick from switch in left rack

[2022-11-10 14:08] rbo commented on #108
Boot middle switch
[code]

[2022-11-10 14:21] rbo commented on #108
copy firmware:
[code]
Useful resource: https://www.cisco.com/en/US/docs/storage/san_switches/mds9000/sw/rel_1_x/1_0_2/san-os/configuration/guide/SwImage.pdf

[2022-11-10 14:24] rbo commented on #108
[code]

[2022-11-10 14:52] rbo commented on #108
[code]

[2022-11-10 15:04] rbo commented on #108
[code]

[2022-11-10 15:04] rbo commented on #108
[code]

[2022-11-10 15:40] rbo commented on #108
[code]

[2022-11-10 15:42] rbo commented on #108
[code]

[2022-11-14 08:37] rbo commented on #108
[code]

https://www.cisco.com/c/en/us/products/collateral/switches/nexus-5000-series-switches/datasheet-c78-730760.html

2x NXA-PAC-1100W => 2x45BTU/hr

[2022-11-22 09:19] rbo commented on #108
the two switches need a lot of power, switched on arout 11/10 and switched off today
![image](https://user-images.githubusercontent.com/36604/203275025-7a74dcb2-b2a5-4325-8ae9-7bbb6efab34d.png)

[2022-11-22 09:20] rbo opened #109 "Upgrade OpenShift BareMetal from 4.10 to 4.11"
- Careful with ODF Update: https://access.redhat.com/articles/6972807

[2022-11-22 09:20] rbo commented on #109
Update started.

[2022-11-22 09:22] rbo opened #110 "Add inf44 to BareMetal Cluster"
/cc @astolzen

[2022-11-22 09:42] rbo commented on #110
## Prepare Boot / Install USB Stick
[code]

## Double checked dhcpd:
[code]

[2022-11-22 10:34] rbo commented on #110
Management Board of inf44 is not available.

[2022-11-22 10:34] rbo commented on #110
Nodes added to cluster

[2022-11-22 13:54] #110 closed, assigned to rbo

[2022-11-22 13:54] rbo commented on #109
OCP it selfe: done - 4.11.13

[2022-11-22 14:01] rbo commented on #109
MetalLB Operator Upgrade in progress

[2022-11-22 14:06] rbo commented on #109
Facing "OwnNamespace InstallModeType not supported, cannot configure to watch own namespace" error.
=> https://access.redhat.com/solutions/6429481

[2022-11-22 14:15] rbo commented on #106
Duplicate to #107

[2022-11-22 14:15] #106 closed, assigned to rbo

[2022-11-22 14:16] rbo opened #111 "Air condition maintenance to replace noisy fan - 2022-11-29 until 2022-12-01"

[2022-11-22 19:08] rbo commented on #111
COE Team informed: https://chat.google.com/room/AAAAvP31Mz4/IyHY309Ut5M
StormShift informed: https://chat.google.com/room/AAAAZAJjWE8/FYzb5y3HZx8